{% extends "viewer/base.html" %}
{% block title %}Add new Wanted Gallery | {{ block.super }}{% endblock %}
{% block sidebar %}{% endblock %}

{% load static %}

{% block content %}
  {% if messages %}
    {% for message in messages %}
      <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
    {% endfor %}
  {% endif %}
  <div class="page-header">
  <h2>Add new Wanted Gallery</h2>
  <p class="lead">Add a new Wanted Gallery. It will be prefilled from another Wanted Gallery if a parameter is present</p>
  </div>
  {% if perms.viewer.add_wantedgallery %}
  {% include 'viewer/include/wanted_gallery_edit.html' with collapsed=1 %}
  {% endif %}

{% endblock %}
{% block afterJQ %}
  {{ edit_form.media }}
{% endblock %}