{% extends "viewer/base.html" %}
{% block title %}Manage galleries | {{ block.super }}{% endblock %}
{% block sidebar %}{% endblock %}
{% load static %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
        {% endfor %}
    {% endif %}
    <!-- Manage Galleries  -->
    <div class="page-header">
    <h2>Manage galleries</h2>
    <p class="lead">Number of galleries (in page, total): {{ results|length }}, {{ results.paginator.count }}</p>
    </div>
    <form action="{{ request.get_full_path }}" method="GET">
      {% for field in form %}
        <div class="page-line">
          {{ field.errors }}
          {{ field }}
        </div>
      {% endfor %}
    <div class="page-line row g-1 align-items-center">
    <div class="col-md-auto">
      <div class="input-group align-items-center">
        <label class="me-sm-1" for="sort">Sort</label>
        <select id="sort" name="sort" class="form-control me-sm-1">
          <option value="create_date" {% if request.GET.sort == "create_date" %} selected{% endif %}>create date</option>
          <option value="posted" {% if request.GET.sort == "posted" %} selected{% endif %}>posted date</option>
          <option value="public_date" {% if request.GET.sort == "public_date" %} selected{% endif %}>public date</option>
          <option value="last_modified" {% if request.GET.sort == "last_modified" %} selected{% endif %}>last modified</option>
          <option value="title" {% if request.GET.sort == "title" %} selected{% endif %}>title</option>
          <option value="title_jpn" {% if request.GET.sort == "title_jpn" %} selected{% endif %}>title jpn</option>
          <option value="rating" {% if request.GET.sort == "rating" %} selected{% endif %}>rating</option>
          <option value="filecount" {% if request.GET.sort == "filecount" %} selected{% endif %}>images</option>
          <option value="filesize" {% if request.GET.sort == "filesize" %} selected{% endif %}>size</option>
        </select>
      </div>
    </div>
    <div class="col-md-auto">
        <select id="asc_desc" name="asc_desc" class="form-control me-sm-1" title="sort_order" aria-label="sort_order">
          <option value="desc" {% if request.GET.asc_desc == "desc" %} selected{% endif %}>descending</option>
          <option value="asc" {% if request.GET.asc_desc == "asc" %} selected{% endif %}>ascending</option>
        </select>
    </div>
       {% for field in search_form %}
           <div class="col-md-auto">
            <div class="input-group align-items-center">
          {{ field.errors }}
          {{ field.label_tag }}{{ field }}
            </div>
           </div>
      {% endfor %}
    </div>
      <div class="page-line row g-1 align-items-center">
      <div class="col-md-auto">
        <div class="form-check">
        <input id="checkbox2" class="form-check-input" type="checkbox" name="non_public" value="1" {% if request.GET.non_public == '1' %}checked{% endif %}><label for="checkbox2">Private</label>
        </div>
      </div>
      <div class="col-md-auto">
        <div class="form-check">
        <input id="checkbox3" class="form-check-input" type="checkbox" name="public" value="1" {% if request.GET.public == '1' %}checked{% endif %}><label for="checkbox3">Public</label>
        </div>
      </div>
      <div class="col-md-auto">
          <div class="form-check">
            <input id="checkbox5" class="form-check-input" type="checkbox" name="expunged" value="1" {% if request.GET.expunged == '1' %}checked{% endif %}><label for="checkbox5">Expunged</label>
          </div>
      </div>
      <div class="col-md-auto">
          <div class="form-check">
            <input id="checkbox55" class="form-check-input" type="checkbox" name="disowned" value="1" {% if request.GET.disowned == '1' %}checked{% endif %}><label for="checkbox55">Disowned</label>
          </div>
      </div>
        <div class="col-md-auto">
          <div class="form-check">
            <input id="checkbox6" class="form-check-input" type="checkbox" name="fjord" value="1" {% if request.GET.fjord == '1' %}checked{% endif %}><label for="checkbox6">Fjord</label>
          </div>
        </div>
      <div class="col-md-auto">
        <div class="form-check">
        <input id="checkbox4" class="form-check-input" type="checkbox" name="hidden" value="1" {% if request.GET.hidden == '1' %}checked{% endif %}><label for="checkbox4">Hidden</label>
        </div>
      </div>
        <div class="col-md-auto">
          <div class="form-check">
            <input id="checkbox7" class="form-check-input" type="checkbox" name="contained" value="1" {% if request.GET.contained == '1' %}checked{% endif %}><label for="checkbox7">Contained</label>
          </div>
        </div>
        <div class="col-md-auto">
          <div class="form-check">
            <input id="checkbox77" class="form-check-input" type="checkbox" name="not_contained" value="1" {% if request.GET.not_contained == '1' %}checked{% endif %}><label for="checkbox77">Not Contained</label>
          </div>
        </div>
        <div class="col-md-auto">
          <div class="form-check">
            <input id="checkbox8" class="form-check-input" type="checkbox" name="contains" value="1" {% if request.GET.contains == '1' %}checked{% endif %}><label for="checkbox8">Contains</label>
          </div>
        </div>
        <div class="col-md-auto">
          <div class="form-check">
            <input id="checkbox-not-used-groups" class="form-check-input" type="checkbox" name="not_used_including_groups" value="1" {% if request.GET.not_used_including_groups == '1' %}checked{% endif %}><label for="checkbox-not-used-groups">Not used including groups</label>
          </div>
        </div>
        <div class="col-md-auto">
            <div class="form-check">
            <input id="checkbox-f-groups" class="form-check-input" type="checkbox" name="is-not-in-groups" value="1" {% if "is-not-in-groups" in request.GET %}checked{% endif %}><label for="checkbox-f-groups">Is not in Match Groups</label>
            </div>
        </div>
        <div class="col-md-auto">
            <div class="form-check">
            <input id="checkbox-f-single-group" class="form-check-input" type="checkbox" name="is-in-single-group" value="1" {% if "is-in-single-group" in request.GET %}checked{% endif %}><label for="checkbox-f-single-group">Is in Single Match Groups</label>
            </div>
        </div>
      </div>
      <div class="page-line row g-1">
          <div class="col-md-auto">
            <button id="toggle-all" class="btn btn-secondary me-sm-1" type="button">Toggle All</button>
          </div>
          <div class="col-md-auto">
            <button type="submit" name="apply" class="btn btn-info me-sm-1">Search</button>
            <a class="btn btn-light" href="{% url 'viewer:manage-galleries' %}">Clear</a>
          </div>
      </div>
    </form>
    <form action="{{ request.get_full_path }}" method="POST">{% csrf_token %}
    {% load viewer_extras %}
    <!-- Next/Prev page links  -->
    {% if results.object_list and results.paginator.num_pages > 1 %}
      <div>
          <span class="step-links">
              <a href= "?{% url_replace 'page' '1' %}">first &lt;&lt;</a>
            {% if results.has_previous %}
              <a href= "?{% url_replace 'page' results.previous_page_number %}"> previous &lt;&lt; </a>
            {% else %}
              <span> previous &lt;&lt; </span>
            {% endif %}
            <span class="current">
                  &nbsp;Page {{ results.number }} of {{ results.paginator.num_pages }}
              </span>
            {% if results.has_next %}
              <a href="?{% url_replace 'page' results.next_page_number %}"> &gt;&gt; next</a>
            {% else %}
              <span> &gt;&gt; next</span>
            {% endif %}
            <a href="?{% url_replace 'page' results.paginator.num_pages %}"> &gt;&gt; last</a>
          </span>
      </div>
    {% endif %}
      <table class="table table-bordered table-sm generic-table">
        <thead>
        <tr>
          <th>Select</th><th>Title</th><th>ID</th><th>Size</th><th>Images</th><th>Category</th><th>Uploader</th><th>Source URL | Image</th><th>Is Magazine?</th><th>Wanted Gallery?</th><th>Status</th><th>DL type</th><th>Reason</th><th>Added on</th><th>Posted</th><th>Added by</th><th>Public</th><th>Hidden</th>
        </tr>
        </thead>
        <tbody>
        {% for gallery in results %}
          <tr>
            <td class="text-center">
              <input id="checkbox-{{ gallery.id }}" class="toggle-list form-check-input" type="checkbox" name="sel-{{ gallery.id }}" value="{{ gallery.pk }}"><label for="checkbox-{{ gallery.id }}"></label>
            </td>
            <td>
              {{ gallery.best_title }}
            </td>
            <td>
              <a href="{% url 'viewer:gallery' gallery.pk %}">{{ gallery.pk }}</a>
            </td>
            <td>
              <div>{{ gallery.filesize }}</div>
              <div>{{ gallery.filesize|filesizeformat }}</div>
            </td>
            <td>
              {{ gallery.filecount }}
            </td>
            <td>
              {{ gallery.category }}
            </td>
            <td>
              {{ gallery.uploader }}
            </td>
            <td>
              {% if gallery.thumbnail.name %}
                <a href="{{ gallery.get_link }}" class="img-preview" data-image-url="{{ gallery.thumbnail.url }}" rel="popover noopener noreferrer nofollow">{{ gallery.get_link }}</a>
              {% else %}
                {{ gallery.get_link|urlize_all_rel }}
              {% endif %}
            </td>
            <td>
              {{ gallery.magazine_chapters.count|yesno:"yes,no" }}
            </td>
            <td>
              {{ gallery.foundgallery_set.count|yesno:"yes,no" }}
            </td>
            <td>
              {{ gallery.get_status_display }}
            </td>
            <td>
              {{ gallery.dl_type }}
            </td>
            <td>
              {{ gallery.reason }}
            </td>
            <td>
              {{ gallery.create_date|date:"m/d/Y H:i:s" }}
            </td>
            <td>
              {{ gallery.posted|date:"m/d/Y H:i:s" }}
            </td>
            <td>
              <div>{% if gallery.user.pk == 1 %}ServiceAccount{% else %}{{ gallery.user }}{% endif %}</div>
              <div>{{ gallery.get_origin_display }}</div>
            </td>
            <td>
              {{ gallery.public|yesno }}
            </td>
            <td>
              {{ gallery.hidden|yesno }}
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    <!-- Next/Prev page links  -->
      {% if results.object_list and results.paginator.num_pages > 1 %}
        <div>
          <span class="step-links">
              <a href= "?{% url_replace 'page' '1' %}">first &lt;&lt;</a>
            {% if results.has_previous %}
              <a href= "?{% url_replace 'page' results.previous_page_number %}"> previous &lt;&lt; </a>
            {% else %}
              <span> previous &lt;&lt; </span>
            {% endif %}
            <span class="current">
                  &nbsp;Page {{ results.number }} of {{ results.paginator.num_pages }}
              </span>
            {% if results.has_next %}
              <a href="?{% url_replace 'page' results.next_page_number %}"> &gt;&gt; next</a>
            {% else %}
              <span> &gt;&gt; next</span>
            {% endif %}
            <a href="?{% url_replace 'page' results.paginator.num_pages %}"> &gt;&gt; last</a>
          </span>
        </div>
      {% endif %}
    <div class="mb-3">
      <input size="10" class="form-control" name="reason" value="" placeholder="Reason" maxlength="200"/>
    </div>
    <div class="row g-1 align-items-center">
        {% if perms.viewer.download_gallery %}
            <div class="col-md-auto">
                <button name="download_galleries" class="btn btn-light">Force queue for download</button>
            </div>
        {% endif %}
        {% if perms.viewer.update_metadata %}
            <div class="col-md-auto">
                <button name="recall_api" class="btn btn-light">Recall API</button>
            </div>
        {% endif %}
        {% if perms.viewer.publish_gallery %}
            <div class="col-md-auto">
                <button name="publish_galleries" class="btn btn-light">Publish</button>
            </div>
        {% endif %}
        {% if perms.viewer.private_gallery %}
            <div class="col-md-auto">
                <button name="private_galleries" class="btn btn-light">Make private</button>
            </div>
        {% endif %}
        {% if perms.viewer.mark_delete_gallery %}
            <div class="col-md-auto">
                <button name="delete_galleries" class="btn btn-light">Mark Deleted</button>
            </div>
        {% endif %}
        {% if perms.viewer.delete_gallery %}
            <div class="col-md-auto">
                <button name="real_delete_galleries" class="btn btn-light">Delete (WARNING!)</button>
            </div>
        {% endif %}
        {% if user.is_staff %}
            <div class="col-md-auto">
                <div class="form-check">
                    <input id="checkbox11" class="form-check-input" type="checkbox" name="run_for_all" value="1"><label class="form-check-label" for="checkbox11">Select all Galleries</label>
                </div>
            </div>
        {% endif %}
    </div>
    {% if perms.viewer.add_gallerymatchgroup %}
    <div class="row g-1 mt-3">
        <div class="col-md-auto">
          <input title="Cutoff" size="10" type="number" step="0.01" class="form-control" name="cutoff" value="" placeholder="Cutoff"/>
        </div>
        <div class="col-md-auto">
          <input title="Max matches" size="10" type="number" step="1" class="form-control" name="max-matches" value="10" placeholder="Max Matches"/>
        </div>
        <div class="col-md-auto">
        <div class="dropup">
            <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown">Create Gallery Match Groups & Possible Matches</button>
            <ul class="dropdown-menu dropdown-menu-end">
            <li><button type="submit" name="create_gallery_match_groups" class="btn btn-light" value="">All</button></li>
              {% for provider in providers %}
                <li><button type="submit" name="create_gallery_match_groups" class="btn btn-light" value="{{ provider }}">{{ provider }}</button></li>
              {% endfor %}
            </ul>
        </div>
        </div>
          <div class="col-md-auto">
            <select id="matcher_type" name="matcher_type" class="form-control" multiple size="2" title="Matcher type to use" aria-label="matcher_type">
              {% for matcher_type in matcher_types %}
                <option value="{{ matcher_type }}" {% if matcher_type in request.POST.matcher_type %} selected{% endif %}>{{ matcher_type }}</option>
              {% endfor %}
            </select>
          </div>
        <div class="col-md-auto">
        <button type="submit" name="delete_gallery_match_groups" class="btn btn-light" value="">Delete Gallery Match Groups</button>
        </div>
        <div class="col-md-auto">
        <button type="submit" name="auto_select_first_match" class="btn btn-light" value="">Add First Match to Match Group</button>
        </div>
    </div>
    {% endif %}
    </form>
{% endblock %}
{% block afterJQ %}
  {% load compress %}
  {% compress css %}
    <link href="{% static 'css/vendor/jal/style.css' %}" type="text/css" media="all" rel="stylesheet" />
  {% endcompress %}
  {% compress js %}
    <script src="{% static 'js/vendor/jquery.autocomplete-light.min.js' %}"></script>
  {% endcompress %}
  <script type="text/javascript" src="{% static 'js/list_operations.js' %}"></script>
{% endblock %}