{% extends "viewer/base.html" %}
{% block title %}Submit queue | {{ block.super }}{% endblock %}
{% block sidebar %}{% endblock %}
{% load static %}

{% block content %}
  {% load viewer_extras %}
    {% if messages %}
        {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
        {% endfor %}
    {% endif %}
    <!-- Galleries not used  -->
    <div class="page-header">
    <h2>Submitted galleries without associated archives</h2>
    <p class="lead">Number of galleries (in page, total): {{ results|length }}, {{ results.paginator.count }}</p>
    </div>
    <form action="{{ request.get_full_path }}" method="GET">
      {% for field in form %}
        <div class="page-line">
          {{ field.errors }}
          {{ field }}
        </div>
      {% endfor %}
      <div class="page-line row g-1 align-items-center">
      <div class="col-md-auto">
        <button id="toggle-all" class="btn btn-secondary" type="button">Toggle All</button>
      </div>
      <div class="col-md-auto">
        <select id="provider" name="provider" class="form-control" title="provider" aria-label="provider">
          <option value="">all</option>
          {% for provider in providers %}
            <option value="{{ provider }}" {% if request.GET.provider == provider %} selected{% endif %}>{{ provider }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="col-md-auto">
          <div class="input-group align-items-center">
            <label for="filecount-from">Filecount</label>
            <input id="filecount-from" size="2" type="text" class="form-control me-sm-1" name="filecount_from" value="{{ request.GET.filecount_from }}" placeholder="from"/>
          </div>
      </div>
      <div class="col-md-auto">
        <input size="2" type="text" class="form-control me-sm-1" name="filecount_to" value="{{ request.GET.filecount_to }}" placeholder="to"/>
      </div>
      <div class="col-md-auto">
        <input size="10" title="Category" class="form-control" name="category" placeholder="Category" value="{{ request.GET.category }}">
      </div>
      <div class="col-md-auto">
        <input title="Reason" class="form-control" name="reason" placeholder="Reason" value="{{ request.GET.reason }}">
      </div>
        <div class="col-md-auto">
            <input title="Submit Reason" class="form-control" name="submit_reason" placeholder="Submit Reason" value="{{ request.GET.submit_reason }}">
        </div>
      <div class="col-md-auto">
        <div class="form-check">
        <input id="checkbox-f1" class="form-check-input" type="checkbox" name="denied" value="1" {% if "denied" in request.GET %}checked{% endif %}><label for="checkbox-f1">Show denied</label>
        </div>
      </div>
      <div class="col-md-auto">
        <div class="form-check">
        <input id="checkbox-f2" class="form-check-input" type="checkbox" name="approved" value="1" {% if "approved" in request.GET %}checked{% endif %}><label for="checkbox-f2">Show approved</label>
        </div>
      </div>
      <div class="col-md-auto">
        <div class="form-check">
        <input id="checkbox-f4" class="form-check-input" type="checkbox" name="already_present" value="1" {% if "already_present" in request.GET %}checked{% endif %}><label for="checkbox-f4">Show present</label>
        </div>
      </div>
      <div class="col-md-auto">
        <div class="form-check">
        <input id="checkbox-f3" class="form-check-input" type="checkbox" name="filter_galleries" value="1" {% if "filter_galleries" in request.GET %}checked{% endif %}><label for="checkbox-f3">Filter galleries</label>
        </div>
      </div>
      <div class="col-md-auto">
        <div class="form-check">
        <input id="checkbox-f5" class="form-check-input" type="checkbox" name="has_similar" value="1" {% if "has_similar" in request.GET %}checked{% endif %}><label for="checkbox-f5">With similar</label>
        </div>
      </div>
      <div class="col-md-auto">
        <div class="form-check">
        <input id="checkbox-f6" class="form-check-input" type="checkbox" name="has_archives" value="1" {% if "has_archives" in request.GET %}checked{% endif %}><label for="checkbox-f6">With archives</label>
        </div>
      </div>
      <div class="col-md-auto">
        <div class="form-check">
        <input id="checkbox-f10" class="form-check-input" type="checkbox" name="gallery-public" value="1" {% if "gallery-public" in request.GET %}checked{% endif %}><label for="checkbox-f10">Public Gallery</label>
        </div>
      </div>
      <div class="col-md-auto">
        <button type="submit" name="apply" class="btn btn-info">Search</button>
        <a class="btn btn-light" href="{% url 'viewer:submit-queue' %}">Clear</a>
      </div>
      </div>
    </form>
    <div id="contained-data">
        <form action="{{ request.get_full_path }}" method="POST">{% csrf_token %}
        <!-- Next/Prev page links  -->
          <div>
              <nav aria-label="Middle navigation">
                <ul class="pagination justify-content-center my-0">
                    <li class="page-item{% if results.number == 1 %} disabled{% endif %}">
                      <a class="page-link" href="?{% url_replace 'page' '1' %}" aria-label="First">
                        <span aria-hidden="true">&laquo;</span>
                      </a>
                    </li>
                  {% if results.has_previous %}
                    <li class="page-item"><a class="page-link" href="?{% url_replace 'page' results.previous_page_number %}">Previous</a></li>
                  {% else %}
                    <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                  {% endif %}
                  <li class="page-item">
                    <div class="mid-item">{{ results.paginator.count }} results</div>
                  </li>
                  {% if results.has_next %}
                    <li class="page-item"><a class="page-link" href="?{% url_replace 'page' results.next_page_number %}">Next</a></li>
                  {% else %}
                    <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
                  {% endif %}
                    <li class="page-item{% if results.number == results.paginator.num_pages %} disabled{% endif %}">
                      <a class="page-link" href="?{% url_replace 'page' results.paginator.num_pages %}"
                         aria-label="Last">
                        <span aria-hidden="true">&raquo;</span>
                      </a>
                    </li>
                </ul>
              </nav>
          </div>
          <table class="table table-bordered table-sm generic-table my-0">
            <thead>
            <tr>
              <th>Select</th><th>URL</th><th>Gallery</th><th>Title</th><th>Size</th><th>Images</th><th>Source URL</th><th title="Linked to Wanted Gallery?">Wanted</th><th title="Gallery has Archives? (binned, total)">Archive</th><th title="Similar Galleries by filesize and filecount">Similar</th><th title="URLs in the same group were added together">Group</th><th>Entry Reason</th><th>Submitted</th><th>Entry Status</th><th>Public</th><th>Gallery Status</th>
            </tr>
            </thead>
            <tbody>
            {% for entry in results %}
              <tr>
                <td class="text-center">
                  <input id="checkbox-{{ entry.id }}" class="toggle-list form-check-input" type="checkbox" name="sel-{{ entry.id }}" value="{{ entry.pk }}"><label for="checkbox-{{ entry.id }}"></label>
                </td>
                <td>
                  {{ entry.submit_url|urlize_all_rel }}
                </td>
                <td>
                  {% if entry.gallery.thumbnail.name %}
                  <a href="{% url 'viewer:gallery' entry.gallery.pk %}">{{ entry.gallery.pk }}</a>
                  {% else %}
                    No gallery
                  {% endif %}
                </td>
                <td>
                  {{ entry.gallery.title }}
                </td>
                <td>
                  {{ entry.gallery.filesize }} ({{ entry.gallery.filesize|filesizeformat }})
                </td>
                <td>
                  {{ entry.gallery.filecount }}
                </td>
                <td>
                  {% if entry.gallery.thumbnail.name %}
                    <a href="{{ entry.gallery.get_link }}" class="img-preview" data-image-url="{{ entry.gallery.thumbnail.url }}" rel="popover noopener noreferrer nofollow">{{ entry.gallery.get_link }}</a>
                  {% else %}
                    {{ entry.gallery.get_link|urlize_all_rel }}
                  {% endif %}
                </td>
                <td>
                  {{ entry.gallery.foundgallery_set.count|yesno:"yes,no" }}
                </td>
                <td>
                  {{ entry.gallery.archive_set.count|yesno:"yes,no" }}<br/>({{ entry.archives_recycled }}, {{ entry.archive_count }})
                </td>
                <td>
                  {% for similar_gallery in entry.similar_galleries.all %}
                    <span style="padding-right: 10px;">
                      {% if similar_gallery.thumbnail.name %}
                        <a href="{% url 'viewer:gallery' similar_gallery.pk %}" class="img-preview" data-image-url="{{ similar_gallery.thumbnail.url }}" rel="popover">{{ similar_gallery.pk }}</a>
                      {% else %}
                        <a href="{% url 'viewer:gallery' similar_gallery.pk %}" rel="popover">{{ similar_gallery.pk }}</a>
                      {% endif %}
                    </span>
                  {% endfor %}
                </td>
              <td>
                  {% if entry.submit_group %}
                      <a href="?{% url_replace 'submit_group' entry.submit_group %}">{{ entry.submit_group }}</a>
                  {% else %}
                      Not set
                  {% endif %}
                </td>
                <td>
                  {{ entry.submit_reason }}
                </td>
                <td>
                  {{ entry.submit_date|date:"DATETIME_FORMAT" }}
                </td>
                <td>
                  {{ entry.get_resolved_status_display }}
                </td>
                <td>
                  {{ entry.gallery.public|yesno }}
                </td>
                <td>
                  {{ entry.gallery.get_status_display }}
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        <!-- Next/Prev page links  -->
          <div>
              <nav aria-label="Middle navigation">
                <ul class="pagination justify-content-center">
                    <li class="page-item{% if results.number == 1 %} disabled{% endif %}">
                      <a class="page-link" href="?{% url_replace 'page' '1' %}" aria-label="First">
                        <span aria-hidden="true">&laquo;</span>
                      </a>
                    </li>
                  {% if results.has_previous %}
                    <li class="page-item"><a class="page-link" href="?{% url_replace 'page' results.previous_page_number %}">Previous</a></li>
                  {% else %}
                    <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                  {% endif %}
                  <li class="page-item">
                    <div class="mid-item">{{ results.paginator.count }} results</div>
                  </li>
                  {% if results.has_next %}
                    <li class="page-item"><a class="page-link" href="?{% url_replace 'page' results.next_page_number %}">Next</a></li>
                  {% else %}
                    <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
                  {% endif %}
                    <li class="page-item{% if results.number == results.paginator.num_pages %} disabled{% endif %}">
                      <a class="page-link" href="?{% url_replace 'page' results.paginator.num_pages %}"
                         aria-label="Last">
                        <span aria-hidden="true">&raquo;</span>
                      </a>
                    </li>
                </ul>
              </nav>
          </div>
        {% if perms.viewer.approve_gallery %}
        <div class="mb-3">
          <input size="10" class="form-control" name="reason" value="" placeholder="Gallery & Archive Reason" maxlength="200"/>
        </div>
        <div class="mb-3">
          <input size="10" class="form-control" name="entry_reason" value="" placeholder="Entry Reason" maxlength="200"/>
        </div>
        <div class="mb-3">
          <label for="entry_comment">Comment</label>
          <textarea name="entry_comment" class="form-control" id="entry_comment" rows="5"></textarea>
        </div>
        <button name="download_galleries" class="btn btn-light">Approve & start download</button>
        <button name="approve_galleries" class="btn btn-light">Approve galleries (no download)</button>
        <button name="deny_galleries" class="btn btn-light">Deny galleries</button>
        {% endif %}
        {% if perms.viewer.publish_gallery %}
        <button name="publish_galleries" class="btn btn-light">Publish galleries & archives</button>
        {% endif %}
        </form>
    </div>

{% endblock %}
{% block afterJQ %}
  {% load compress %}
  {% compress css %}
    <link href="{% static 'css/vendor/jal/style.css' %}" type="text/css" media="all" rel="stylesheet" />
  {% endcompress %}
  {% compress js %}
    <script src="{% static 'js/vendor/jquery.autocomplete-light.min.js' %}"></script>
  {% endcompress %}
  <script type="text/javascript" src="{% static 'js/list_operations.js' %}"></script>
{% endblock %}