{% extends "viewer/base.html" %}
{% load dict_key %}
{% block title %}Wanted galleries | {{ block.super }}{% endblock %}
{% load static %}
{% block content %}
  {% if messages %}
    {% for message in messages %}
      <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
    {% endfor %}
  {% endif %}

  <!-- Wanted galleries  -->
  {% if perms.viewer.add_wantedgallery %}
  <button class="btn btn-secondary" id="add-wanted" data-bs-toggle="collapse" data-bs-target="#add-change-wanted-form" name="add-wanted" type="button" aria-label="toggle add wanted">Add Wanted Gallery <i class="fas fa-chevron-down"></i></button>
  <a class="btn btn-secondary" href="{% url 'viewer:col-create-wanted-gallery' %}" role="button">Add Wanted Gallery page</a>
  {% include 'viewer/include/wanted_gallery_edit.html' %}
  {% endif %}
  <div class="page-header line-top">
    <h2>Galleries that are being watched for new releases</h2>
    <p class="lead">Number of wanted galleries (in page, total): {{ results|length }}, {{ results.paginator.count }}</p>
  </div>
  {% load viewer_extras %}
    <form action="{{ request.get_full_path }}" method="GET">
      {% for field in form %}
        <div class="page-line">
          {{ field.errors }}
          {{ field }}
        </div>
      {% endfor %}
      <div class="page-line row g-1 align-items-center">
      <div class="col-md-auto">
          <div class="input-group align-items-center">
        <label for="sort">Sort</label>
        <select id="sort" name="sort" class="form-control mx-sm-1">
          <option value="release_date" {% if request.GET.sort == "release_date" %} selected{% endif %}>release date</option>
          <option value="create_date" {% if request.GET.sort == "create_date" %} selected{% endif %}>create date</option>
          <option value="last_modified" {% if request.GET.sort == "last_modified" %} selected{% endif %}>last modified</option>
          <option value="date_found" {% if request.GET.sort == "date_found" %} selected{% endif %}>date found</option>
          <option value="title" {% if request.GET.sort == "title" %} selected{% endif %}>title</option>
        </select>
          </div>
      </div>
      <div class="col-md-auto">
        <select id="asc_desc" name="asc_desc" class="form-control me-sm-1" title="sort_order" aria-label="sort_order">
          <option value="desc" {% if request.GET.asc_desc == "desc" %} selected{% endif %}>descending</option>
          <option value="asc" {% if request.GET.asc_desc == "asc" %} selected{% endif %}>ascending</option>
        </select>
      </div>
      <div class="col-md-auto">
        <button name="apply" class="btn btn-info">Search</button>
        <a class="btn btn-light" href="{% url 'viewer:wanted-galleries' %}">Clear</a>
      </div>
      <div class="col-md-auto">
        <div class="form-check">
        <input id="checkbox-f2" class="form-check-input" type="checkbox" name="wanted-should-search" value="1" {% if "wanted-should-search" in request.GET %}checked{% endif %}><label for="checkbox-f2">Should search</label>
        </div>
      </div>
      <div class="col-md-auto">
        <div class="form-check">
        <input id="checkbox-f3" class="form-check-input" type="checkbox" name="wanted-should-search-not" value="1" {% if "wanted-should-search-not" in request.GET %}checked{% endif %}><label for="checkbox-f3">Should not search</label>
        </div>
      </div>
      <div class="col-md-auto">
        <input title="Book type" class="form-control" name="book_type" placeholder="Book type" value="{{ request.GET.book_type }}">
      </div>
      <div class="col-md-auto">
        <input title="Publisher" class="form-control" name="publisher" placeholder="Publisher" value="{{ request.GET.publisher }}">
      </div>
      <div class="col-md-auto">
        <input title="Reason" class="form-control" name="reason" placeholder="Reason" value="{{ request.GET.reason }}">
      </div>
      <div class="col-md-auto">
        <input title="Provider" class="form-control" name="provider" placeholder="Provider" value="{{ request.GET.provider }}">
      </div>
      <div class="col-md-auto">
        <input title="Mention source" class="form-control" name="mention-source" placeholder="Mention source" value="{{ request.GET|dict_key:"mention-source" }}">
      </div>
      <div class="col-md-auto">
        <div class="form-check">
        <input id="checkbox-f6" class="form-check-input" type="checkbox" name="wanted-found" value="1" {% if "wanted-found" in request.GET %}checked{% endif %}><label for="checkbox-f6">Found</label>
        </div>
      </div>
      <div class="col-md-auto">
        <div class="form-check">
        <input id="checkbox-f7" class="form-check-input" type="checkbox" name="wanted-not-found" value="1" {% if "wanted-not-found" in request.GET %}checked{% endif %}><label for="checkbox-f7">Not found</label>
        </div>
      </div>
      <div class="col-md-auto">
        <div class="form-check">
        <input id="checkbox-f8" class="form-check-input" type="checkbox" name="wanted-no-found-galleries" value="1" {% if "wanted-no-found-galleries" in request.GET %}checked{% endif %}><label for="checkbox-f8">No found galleries</label>
        </div>
      </div>
      </div>
    </form>
    <form action="{{ request.get_full_path }}" method="POST">{% csrf_token %}
  <!-- Next/Prev page links  -->
    {% if results.object_list and results.paginator.num_pages > 1 %}
      <div>
          <span class="step-links">
              <a href= "?{% url_replace 'page' '1' %}">first &lt;&lt;</a>
            {% if results.has_previous %}
              <a href= "?{% url_replace 'page' results.previous_page_number %}"> previous &lt;&lt; </a>
            {% endif %}
            <span class="current">
                  &nbsp;Page {{ results.number }} of {{ results.paginator.num_pages }}
              </span>
            {% if results.has_next %}
              <a href="?{% url_replace 'page' results.next_page_number %}"> &gt;&gt; next</a>
            {% endif %}
            <a href="?{% url_replace 'page' results.paginator.num_pages %}"> &gt;&gt; last</a>
          </span>
      </div>
    {% endif %}
    <ul class="list-group marked">
      {% for gallery in results %}
        <li class="list-group-item">
          <a href="{% url 'viewer:col-wanted-gallery' gallery.pk %}">{{ gallery.id }}</a>: Title: {{ gallery.title }} >> Artists: {{ gallery.artists.all|join:", " }} >> Release date: {{ gallery.release_date|date }} >> Reason: {{ gallery.reason }} >> Pages: {{ gallery.page_count }} >> Should search: {{ gallery.should_search|yesno }} >> Keep searching: {{ gallery.keep_searching|yesno }} >> Found: {{ gallery.found|yesno }}
{#          {% with matches=gallery.possible_galleries mentions=gallery.mentions.all %}#}
          {% with mentions=gallery.mentions.all %}
{#            {% if matches|length > 0 %}#}
{#              <h5>Possible matches</h5>#}
{#              <table class="table table-bordered table-sm generic-table">#}
{#                <thead>#}
{#                <tr>#}
{#                  <th>Select</th><th>First Artist</th><th>Title</th><th>URL</th><th>Accuracy</th><th>Posted</th><th>Count</th><th>Has archives</th>#}
{#                </tr>#}
{#                </thead>#}
{#                <tbody>#}
{#                {% for match in matches %}#}
{#                  <tr>#}
{#                    <td>#}
{#                      <a title="select as correct match" href="{% url 'viewer:wanted-gallery' gallery.pk %}?tool=select-as-match&tool-id={{ match.gallery.pk }}"><i class="fas fa-check"></i></a>#}
{#                    </td>#}
{#                    <td>#}
{#                      {{ match.gallery.artist_tags.0.name }}#}
{#                    </td>#}
{#                    <td>#}
{#                      <a href="{% url 'viewer:gallery' match.gallery.pk %}">{{ match.gallery.title }}</a>#}
{#                    </td>#}
{#                    <td>#}
{#                      <a href="{{ match.gallery.get_link }}" data-image-url="{% if match.gallery.thumbnail.name %}{{ match.gallery.thumbnail.url }}{% else %}{% static "imgs/no_cover.png" %}{% endif %}" class="img-preview" rel="popover">{{ match.gallery.get_link }}</a>#}
{#                    </td>#}
{#                    <td class="{{ match.match_accuracy|color_percent:1 }}">#}
{#                      {{ match.match_accuracy|floatformat:3 }}#}
{#                    </td>#}
{#                    <td>#}
{#                      {{ match.gallery.posted }}#}
{#                    </td>#}
{#                    <td class="{{ match.gallery.filecount|color_percent:gallery.page_count }}">#}
{#                      {{ match.gallery.filecount }}#}
{#                    </td>#}
{#                    <td>#}
{#                      {{ match.gallery.archive_set.all|yesno:"yes,no" }}#}
{#                    </td>#}
{#                  </tr>#}
{#                {% endfor %}#}
{#                </tbody>#}
{#              </table>#}
{#            {% endif %}#}
            {% if mentions.count > 0 %}
              <h5>Mentions</h5>
              <table class="table table-bordered table-sm generic-table">
                <thead>
                <tr>
                  <th>Source</th><th>Mention Date</th><th>Release date</th><th>Type</th>
                </tr>
                </thead>
                <tbody>
                {% for mention in mentions %}
                  <tr>
                    <td>
                      {% if mention.thumbnail.name %}<a href="#" data-image-url="{{ mention.thumbnail.url }}" class="img-preview" rel="popover">{{ mention.source }}</a>{% else %}{{ mention.source }}{% endif %}
                    </td>
                    <td>
                      {{ mention.mention_date }}
                    </td>
                    <td>
                      {{ mention.release_date }}
                    </td>
                    <td>
                      {{ mention.type }}
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            {% endif %}
          {% endwith %}
        </li>
      {% endfor %}
    </ul>
  <!-- Next/Prev page links  -->
    {% if results.object_list and results.paginator.num_pages > 1 %}
      <div>
          <span class="step-links">
              <a href= "?{% url_replace 'page' '1' %}">first &lt;&lt;</a>
            {% if results.has_previous %}
              <a href= "?{% url_replace 'page' results.previous_page_number %}"> previous &lt;&lt; </a>
            {% endif %}
            <span class="current">
                  &nbsp;Page {{ results.number }} of {{ results.paginator.num_pages }}
              </span>
            {% if results.has_next %}
              <a href="?{% url_replace 'page' results.next_page_number %}"> &gt;&gt; next</a>
            {% endif %}
            <a href="?{% url_replace 'page' results.paginator.num_pages %}"> &gt;&gt; last</a>
          </span>
      </div>
    {% endif %}
  </form>
{% endblock %}
{% block afterJQ %}
  {% if perms.viewer.add_wantedgallery %}
  {{ edit_form.media }}
  {% endif %}
  {% load compress %}
  {% compress css %}
    <link href="{% static 'css/vendor/jal/style.css' %}" type="text/css" media="all" rel="stylesheet" />
  {% endcompress %}
  {{ form.media }}
  {% compress js %}
    <script>
    $('#add-wanted').click(function () {
    if($('#add-wanted i').hasClass('fa-chevron-down'))
    {
       $('#add-wanted').html('Add Wanted Gallery <i class="fas fa-chevron-up"></i>');
    }
    else
    {
        $('#add-wanted').html('Add Wanted Gallery <i class="fas fa-chevron-down"></i>');
    }
    });
    </script>
  {% endcompress %}
{% endblock %}