.vscode
.vs
.idea
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.git
.mypy_cache
.pytest_cache
.hypothesis
cover

*.log
*.db
*.pid
settings.ini
settings.yaml

__pycache__/
*.py[cod]

# Developer
.settings/
.project
.pydevproject
*.pyproj
.idea/
/static/
/node_modules/
/package.json
/yarn.lock
/src/
/.mypy_cache/
/.ruff_cache/
.coverage
/cover/
/venv*/
.dmypy.json
/.vscode/
aux_*.py
aux_*.txt
aux_*.json
.env
/docker/
docker-compose.yml
docker-compose.build.yml
/init
/docs
.gitlab-ci.yml
.env.sample
.stylelintrc
default.yaml
dev-requirements.txt
pyproject.toml
renovate.json
set_db_engine.sh