*.log
*.db
*.pid
settings.ini
settings.yaml

__pycache__/
*.py[cod]

# Developer
.settings/
.project
.pydevproject
*.pyproj
.idea/
/static/
/node_modules/
/package.json
/yarn.lock
/src/
/.mypy_cache/
/.ruff_cache/
.coverage
/cover/
/venv*/
.dmypy.json
/.vscode/
aux_*.py
aux_*.txt
aux_*.json