stages:
  - test
  - deploy
  - build

variables:
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"
  UV_CACHE_DIR: "$CI_PROJECT_DIR/.cache/uv"
  FF_TIMESTAMPS: true

cache: &global_cache
  paths:
  - .mypy_cache
  - .ruff_cache
  - .cache/pip
  - .cache/uv

test-all:
  parallel:
    matrix:
      - PYTHON_VERSION:
        - '3.12'
        - '3.13'
        - '3.14'
  cache:
    <<: *global_cache
    key: "$CI_JOB_NAME-$CI_COMMIT_REF_SLUG"
  image: astral/uv:python$PYTHON_VERSION-trixie
  stage: test
  script:
  - python --version
  - uv sync --active --group ci
  - uv run --no-sync ruff check --exclude=".venv" .
  - uv run --no-sync mypy core pandabackup viewer
  - bash ./set_db_engine.sh
  - uv run --no-sync manage.py migrate
  - uv run --no-sync manage.py test --noinput viewer.tests.test_internal viewer.tests.test_core
  tags:
    - django
    - panda
  artifacts:
    when: always
    paths:
      - test-results/TEST-*.xml
    reports:
      junit: test-results/TEST-*.xml

build:
  image: docker:29.1.5
  when: manual
  services:
    - docker:29.1.5-dind
  before_script:
    - docker info
  stage: build
  variables:
    IMAGE_TAG: $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG
    DOCKER_TLS_CERTDIR: "/certs"
  script:
    - echo "$CI_REGISTRY_PASSWORD" | docker login $CI_REGISTRY -u $CI_REGISTRY_USER --password-stdin
    - docker build -t $IMAGE_TAG .
    - docker push $IMAGE_TAG
