-r requirements.txt
# Gives error with psycopg, disabled for now.
#django-debug-toolbar==4.0.0
django-unused-media==0.2.2
mypy==1.3.0
ruff==0.0.267
django-stubs==4.2.0
django-cors-headers==4.0.0
# django-cprofile-middleware