# Chose one depending on database backend
# mysqlclient
psycopg==3.1.19
# Main
python-dateutil==2.9.0.post0
twitter==1.19.6
beautifulsoup4==4.12.3
CherryPy==18.9.0
Django==5.0.7
django-compressor==4.4
Pillow==10.3.0
rarfile==4.2
py7zr==0.21.0
requests==2.32.3
feedparser==6.0.11
transmission-rpc==7.0.8
django-autocomplete-light==3.11.0
django-vite==3.0.4
elasticsearch==8.13.2
elasticsearch-dsl==8.13.1
django-simple-history==3.7.0
PyYAML==6.0.1
deckar01-ratelimit==3.0.2
# For image operations in edge cases
numpy==1.26.4
# Optional packages (depending on features wanted):
# imagehash==4.3.1
# PySocks==1.7.1