{% load viewer_extras %}
<div class="gallery">
  <a class="cover" href="{% url 'viewer:archive' archive.pk %}">
    <div class="cover-title{% if not archive.crc32 %} archive-incomplete{% endif %}" title="{{ archive.title }}">{{ archive.best_title }}</div>
    {% with thumbnail_details=archive.get_available_thumbnail_plus_size %}
    <img class="image-container mx-auto" alt="" title="{{ archive.best_title }}"
        width="{{ thumbnail_details.2 }}" height="{{ thumbnail_details.1 }}" src="{{ thumbnail_details.0 }}"/>
    {% endwith %}
  </a>
  <div class="caption">
    {{ archive.filecount }} | {{ archive.filesize|filesizeformat }} | {% if archive.crc32 %}<a href="{% url 'viewer:archive-download' archive.pk %}">DL</a>{% else %}DL{% endif %} | <a class="tag-preview" tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-pk="{{ archive.pk }}">Tags</a> | <a href="{% url 'viewer:api' %}?archive={{ archive.pk }}">JSON</a>
    {% if user.is_authenticated and archive.extracted %}| <a href="{% url 'viewer:new-image-viewer' archive.pk '1' %}?{% url_replace 'extracted' '1' %}">View</a>{% endif %}
  </div>
  {% if show_artist %}<div>{{ archive.title|artist_name_from_str }}</div>{% endif %}
</div>