{% load viewer_extras %}
{% with archive=archive_entry.archive %}
<div class="gallery">
  <a class="cover" href="{% url 'viewer:archive' archive.pk %}">
    <div class="cover-title{% if not archive.crc32 %} archive-incomplete{% endif %}" title="{{ archive_entry.title }}">{{ archive_entry.title }}</div>
    {% with thumbnail_details=archive.get_available_thumbnail_plus_size %}
    <img class="image-container mx-auto" alt="" title="{{ archive.title }}"
        width="{{ thumbnail_details.2 }}" height="{{ thumbnail_details.1 }}" src="{{ thumbnail_details.0 }}"/>
    {% endwith %}
  </a>
  <div class="caption">
    {{ archive.filecount }} | {{ archive.filesize|filesizeformat }} | {% if archive.crc32 %}<a href="{% url 'viewer:archive-download' archive.pk %}">DL</a>{% else %}DL{% endif %} | <a class="tag-preview" tabindex="0" role="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-pk="{{ archive.pk }}">Tags</a>
    {% if user.is_authenticated and archive.extracted %}| <a href="{% url 'viewer:new-image-viewer' archive.pk '1' %}?archive-group={{ archive_group.title_slug }}&group-order=1">View</a>{% endif %}
  </div>
</div>
{% endwith %}