{% load viewer_extras %}
<div class="page-header">
  <h5>Cloning and reordering archive: {{ archive.title }}</h5>
</div>

<form action="{% url 'viewer:archive-clone-reorder' archive.pk %}" method="POST">{% csrf_token %}
    <div class="form-group">
      <label for="sha1s">SHA1 Values (one per line)</label>
      <textarea name="sha1s" class="form-control" id="sha1s" rows="10">{{ request.POST.sha1s }}</textarea>
    </div>
    <div class="form-group">
        <input size="10" class="form-control" name="reason" value="" placeholder="Reason" maxlength="200"/>
    </div>
    <button type="submit" name="submit" class="btn btn-light">Confirm clone</button>
</form>
