{% load viewer_extras %}
<div class="page-header">
  <h5>Deleting archive: {{ archive.title }}</h5>
</div>

<button id="select-all" class="btn btn-info">Select All</button>

<form action="{% url 'viewer:archive-delete' archive.pk %}" method="POST">{% csrf_token %}
  <ul class="list-group">
    <li class="list-group-item">
        <div class="form-check">
            <input id="checkbox1" class="form-check-input" type="checkbox" name="delete-archive" value="1" checked><label class="form-check-label" for="checkbox1">Delete archive entry</label>
        </div>
      <p>{{ archive.title }} >> {{ archive.filesize|filesizeformat }} >> {{ archive.filesize }} >> {{ archive.filecount }} >> {{ archive.source_type }}</p>
    </li>
  {% if archive.zipped %}
    <li class="list-group-item">
        <div class="form-check">
          <input id="checkbox2" class="form-check-input" type="checkbox" name="delete-file" value="1"><label class="form-check-label" for="checkbox2">Delete associated file</label>
        </div>
      <p>{{ archive.zipped.path }} >> {{ archive.filesize|filesizeformat }} >> {{ archive.filesize }} >> {{ archive.filecount }} >> {{ archive.source_type }}</p>
    </li>
  {% endif %}
    {% if archive.gallery %}
      <li class="list-group-item">
            <div class="form-check">
                <input id="checkbox3" class="form-check-input" type="checkbox" name="mark-gallery-deleted" value="1"><label class="form-check-label" for="checkbox3">Mark associated gallery as deleted</label>
            </div>
        <p>{{ archive.gallery.filesize }} >> {{ archive.gallery.filecount }} >> {{ archive.gallery.title }} >> {{ archive.gallery.get_link|urlize_all_rel }}</p>
      </li>
      <li class="list-group-item">
            <div class="form-check">
                <input id="checkbox6" class="form-check-input" type="checkbox" name="mark-gallery-denied" value="1"><label class="form-check-label" for="checkbox6">Mark associated gallery as denied</label>
            </div>
        <p>{{ archive.gallery.filesize }} >> {{ archive.gallery.filecount }} >> {{ archive.gallery.title }} >> {{ archive.gallery.get_link|urlize_all_rel }}</p>
      </li>
      <li class="list-group-item">
            <div class="form-check">
                <input id="checkbox4" class="form-check-input" type="checkbox" name="delete-gallery" value="1"><label class="form-check-label" for="checkbox4">Delete gallery</label>
            </div>
        <p>{{ archive.gallery.filesize }} >> {{ archive.gallery.filecount }} >> {{ archive.gallery.title }} >> {{ archive.gallery.get_link|urlize_all_rel }}</p>
      </li>
    {% endif %}
  </ul>
  <div class="mb-3">
    <input size="10" class="form-control" name="reason" value="" placeholder="Reason" maxlength="200"/>
  </div>
  <button type="submit" name="delete_confirm" class="btn btn-light">Confirm delete</button>
</form>
<script>
document.querySelector('#select-all').addEventListener("click", function() {
    document.querySelectorAll('div input[type="checkbox"]')?.forEach((element) => element.checked = true);
});
</script>
