{% load viewer_extras %}
{% load static %}
<div class="gallery cover-border">
  <a class="cover" href="{% url 'viewer:gallery' match_gallery.pk %}">
    <div class="cover-title">{{ match_gallery.best_title }}</div>
    {% with thumbnail_details=gallery.get_available_thumbnail_plus_size %}
    <img class="image-container mx-auto" alt="" title="{{ match_gallery.best_title }}"
        width="{{ thumbnail_details.2 }}" height="{{ thumbnail_details.1 }}" src="{% if match_gallery.thumbnail.name %}{{ match_gallery.thumbnail.url }}{% else %}{% static "imgs/no_cover.png" %}{% endif %}"/>
    {% endwith %}
  </a>
    <a class="btn btn-info btn-sm" href="{% url 'viewer:col-gallery-update-tool-id' gallery.pk 'add-to-match-group' match_gallery.pk %}">Append to Match Group</a>
  <div>
    {% with gallery_archives=match_gallery.archive_set.all %}
      <span title="Image count">{{ match_gallery.filecount }}</span> | <span title="Total image size">{{ match_gallery.filesize|filesizeformat }}</span> | <span {% if gallery_archives %}class="bg-danger"{% endif %} title="Gallery is linked to another archive directly?">{{ gallery_archives|yesno }}</span> | <a class="tag-preview-g" tabindex="0" role="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-pk="{{ match_gallery.pk }}" title="Click to display tags">Tags</a> | <a href="{% url 'viewer:api' %}?gallery={{ match_gallery.pk }}">JSON</a>
      <div>
        {% for match in gallery_matches %}
            <div class="d-flex justify-content-between acc-{{ match.match_accuracy|color_percent:1 }}">
            <div title="Match type">
                {{ match.match_type }}
            </div>
            <div title="Accuracy">
                {{ match.match_accuracy|floatformat:3 }}
            </div>
            </div>
        {% endfor %}
      </div>
  {% endwith %}
  </div>
    <div>artist: {{ match_gallery.artist_tags.0.name|default:"none" }}</div>
    <div>provider: {{ match_gallery.provider }}</div>
    <div>{{ match_gallery.get_link|urlize_all_rel }}</div>
    <div>{{ match_gallery.posted|date:"DATETIME_FORMAT" }}</div>
</div>