{% extends "viewer/base.html" %}
<title>{% block title %}Not Found | {{ block.super }}{% endblock %}</title>
{% block sidebar %}{% endblock %}

{% block content %}
  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  <div class="row">
    <div class="col-md-12">
      <div class="error-template">
        <h1>Oops!</h1>
        <h2>404 Not Found</h2>
        <div class="error-details">
          Sorry, an error has occurred, requested page not found!
        </div>
        <div class="error-actions">
          <a href="{% url 'viewer:main-page' %}" class="btn btn-primary btn-lg"><i class="fas fa-home"></i>Go Home</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}