{% extends "viewer/base.html" %}
<title>{% block title %}Server Error | {{ block.super }}{% endblock %}</title>
{% block sidebar %}{% endblock %}

{% block content %}
  {% if messages %}
    {% for message in messages %}
      <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
    {% endfor %}
  {% endif %}
  <div class="row">
    <div class="col-md-12">
      <div class="error-template">
        <h1>Oops!</h1>
        <h2>500 Server Error</h2>
        <div class="error-details">
          Sorry, an internal server error has occurred!
        </div>
        <div class="error-actions">
          <a href="{% url 'viewer:main-page' %}" class="btn btn-primary btn-lg"><i class="fas fa-home"></i>Go Home</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}