{% extends "viewer/base.html" %}
{% block title %}Change password | {{ block.super }}{% endblock %}
{% block sidebar %}{% endblock %}

{% block content %}
    {% if messages %}
      {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
      {% endfor %}
    {% endif %}
  <div class="container">
    <form class="form-signin" action="{% url 'viewer:change-password' %}" method="POST">
      {% csrf_token %}
      {{ form }}
      <button class="btn btn-lg btn-primary btn-block" type="submit">Change password</button>
    </form>
  </div>
{% endblock %}