{% extends "viewer/base.html" %}
{% block title %}Change profile | {{ block.super }}{% endblock %}
{% block sidebar %}{% endblock %}

{% block content %}
    {% if messages %}
      {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
      {% endfor %}
    {% endif %}
  <div class="container">
    <form class="form-signin" action="{% url 'viewer:change-profile' %}" method="POST">
      {% csrf_token %}
      {{ user_form.as_p }}
      {{ profile_form.as_p }}
      <button class="btn btn-lg btn-primary btn-block" type="submit">Change profile</button>
    </form>
  </div>
{% endblock %}