{% extends "viewer/base.html" %}
{% block title %}About | {{ block.super }}{% endblock %}
{% block sidebar %}{% endblock %}

{% block content %}
  <h5 class="title-center">This is a curated backup of tagged galleries from several sources that have been/could be removed from their original source.</h5>
  <h5 class="title-center">Might also include other galleries for the sake of having tags for them.</h5>
  <h5 class="title-center">Only English and RAW (Japanese). Mainly magazines, doujinshi, anthologies, CG sets. Not for cosplay, JAV, or other stuff.</h5>
  <div class="title-center"><a href="{% url 'viewer:archive-rss' %}">RSS</a></div>
  <div class="title-center">Source at: <a href="//github.com/pandabuilder/pandachaika">github.com/pandabuilder/pandachaika</a></div>
  <div class="title-center">Suggestions and stuff: panda at chaika.moe</div>
{% endblock %}

re