{% extends "viewer/base.html" %}
<title>{% block title %}{{ archive.title }}{% endblock %}</title>
{% load staticfiles %}
{% block content %}
  {% load viewer_extras %}
  {% if messages %}
    {% for message in messages %}
      <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
    {% endfor %}
  {% endif %}
  <!-- Archives  -->
  <ul class="info">
    {% if user.is_authenticated %}
      <li class="right">
        Archive: {% if user.is_staff %}
        <a href="{% url 'viewer:archive-extract-toggle' archive.pk %}">{% if images %}reduce{% elif archive.crc32 %}
          expand{% endif %}</a>
      {% endif %} {% if user.is_staff %}<a href="{% url 'viewer:archive-recalc-info' archive.pk %}">recalc</a>
      {% endif %} {% if user.is_staff %}<a href="{% url 'viewer:archive-recall-api' archive.pk %}">
        recall api
      </a> {% endif %} {% if user.is_staff %}
        <a href="{% url 'viewer:archive-rematch' archive.pk %}">rematch</a>
      {% endif %} {% if user.is_staff %}
        <a href="{% url 'viewer:archive-delete' archive.pk %}">delete</a>
      {% endif %}
        {% if user.is_staff %}
          {% if archive.gallery %}<a href="{% url 'viewer:gallery-tool' archive.gallery.pk 'toggle-hidden' %}">{% if archive.gallery.hidden %}open{% else %}hidden{% endif %}</a>{% endif %}
          <a href="{% url 'viewer:archive-public-toggle' archive.pk %}">{% if archive.public %}private{% else %}public{% endif %}</a>
        {% endif %}
        {% if user.is_staff %}<a href="{% url 'admin:viewer_archive_change' archive.pk %}">admin</a>
        {% endif %}
        {% if user_archive_preferences.favorite_group == 0 %}
          <a href="{% url 'viewer:user-archive-preferences' archive.pk 'favorite' %}">favorite</a>
        {% else %} <a href="{% url 'viewer:user-archive-preferences' archive.pk 'unfavorite' %}">unfavorite</a>
        {% endif %}
        {% if archive.extracted %}
        <br> View: <a href="{% url 'viewer:archive-details' archive.pk 'cover' %}">cover</a>
        <a href="{% url 'viewer:archive-details' archive.pk 'thumbnails' %}">thumbnails</a>
        <a href="{% url 'viewer:archive-details' archive.pk 'full' %}">full</a>
        <a href="{% url 'viewer:archive-details' archive.pk 'single' %}">single</a>
        {% endif %}
        {% if user.is_staff %}<a href="{% url 'viewer:archive-details' archive.pk 'edit' %}">edit</a>
        {% endif %}
      </li>
    {% endif %}
    <li class="title-main{% if not archive.crc32 %} archive-incomplete{% endif %}">{{ archive.title }}</li>
    {% if archive.title_jpn %}<li class="subtitle">{{ archive.title_jpn }}</li>{% endif %}
    <li class="subtitle">
      <table>
        {% if user.is_staff %}<tr>
          <th>File path</th>
          <td>{{ archive.zipped }}</td>
        </tr>{% endif %}
        <tr>
          <th>Images</th>
          <td>{{ archive.filecount }}</td>
        </tr>
        <tr>
          <th>Total image size</th>
          <td>{{ archive.filesize|filesizeformat }}, {{ archive.filesize }}</td>
        </tr>
        <tr>
          <th>Source type</th>
          <td><a href="{% url 'viewer:archive-search' %}?source_type={{ archive.source_type }}">{{ archive.source_type }}</a></td>
        </tr>
        <tr>
          <th>Reason</th>
          <td><a href="{% url 'viewer:archive-search' %}?reason={{ archive.reason }}">{{ archive.reason }}</a></td>
        </tr>
        <tr>
          {% if user.is_staff %}
            <th>Added to backup</th><td>{{ archive.create_date|date:"DATETIME_FORMAT" }}</td>
          {% else %}
            <th>Available in backup</th><td>{{ archive.public_date|date:"DATETIME_FORMAT" }}</td>
          {% endif %}
        </tr>
      {% if user.is_staff %}
        <tr>
          <th>Published date</th><td>{{ archive.public_date|date:"DATETIME_FORMAT" }}</td>
        </tr>
      {% endif %}
      </table>
    </li>
    {% if archive.gallery %}
      <li class="subtitle line-top">
        <table>
          <tr>
            <th>Source metadata</th>
            <td>{{ archive.get_link|urlize }}</td>
          </tr>
          <tr>
            <th>Posted</th>
            <td>{{ archive.gallery.posted|date:"DATETIME_FORMAT" }}</td>
          </tr>
          <tr>
            <th>Uploader</th>
            <td><a href="{% url 'viewer:archive-search' %}?uploader={{ archive.gallery.uploader }}">{{ archive.gallery.uploader }}</a></td>
          </tr>
          <tr>
            <th>Metadata</th>
            <td><a href="{% url 'viewer:gallery' archive.gallery_id %}">{% url 'viewer:gallery' archive.gallery_id %}</a></td>
          </tr>
        </table>
      </li>
    {% endif %}
    {% if archive.tag_lists %}
      <li class="subtitle">
        <ul class="tags">
          {% for tag_list in archive.tag_lists %}
            <li>
              {% if tag_list.0 %}
                <label class="label-extended">{{ tag_list.0 }}:</label>
              {% endif %}
              {% for tag in tag_list.1 %}
                <a href="{% url 'viewer:archive-tag-search' 'tag' tag %}">
                  {% if tag_list.0 %}{{ tag.name }}{% else %}{{ tag }}{% endif %}</a>
              {% endfor %}
            </li>
          {% endfor %}
        </ul>
      </li>
    {% endif %}
    {% if archive.custom_tag_lists %}
      <li class="subtitle">
        <ul class="tags">
          {% for tag_list in archive.custom_tag_lists %}
            <li>
              {% if tag_list.0 %}
                <label class="label-extended">{{ tag_list.0 }}:</label>
              {% endif %}
              {% for tag in tag_list.1 %}
                <a href="{% url 'viewer:archive-tag-search' 'tag' tag %}">
                  {% if tag_list.0 %}{{ tag.name }}{% else %}{{ tag }}{% endif %}</a>
              {% endfor %}
            </li>
          {% endfor %}
        </ul>
      </li>
    {% endif %}
    {% if user.is_staff %}
      {% if not images and archive.crc32 %}
        <li class="subtitle">
          <a class="btn btn-light" href="{% url 'viewer:archive-extract-toggle' archive.pk %}">Expand archive</a>
          <a class="btn btn-light" href="{% url 'viewer:archive-download' archive.pk %}">Download archive</a>
          <a class="btn btn-light" href="{% url 'viewer:archive-download' archive.pk %}?original=1">Download with original name</a>
          {% if archive.thumbnail.name %}
            <a class="btn btn-light img-preview" data-image-url="{{ archive.thumbnail.url }}" rel="popover">Hover for cover</a>
          {% endif %}
        </li>
      {% endif %}
      {% if images and images.paginator.num_pages > 1 %}
        <!-- Next/Prev page links  -->
        <li class="text-center">
          <span class="step-links">
              {% if images.has_previous %}
                <a id="prev-page" href="?page={{ images.previous_page_number }}">previous &lt;&lt; </a> {% endif %}
            <span class="current">&nbsp;Page {{ images.number }} of {{ images.paginator.num_pages }} </span>
            {% if images.has_next %} <a id="next-page" href="?page={{ images.next_page_number }}">&gt;&gt; next</a> {% endif %}
          </span>
        </li>
      {% endif %}
      {% if not archive.crc32 %}
        The file is still being downloaded, cannot operate it unless it finishes
      {% endif %}
    {% elif archive.crc32 %}
      <li class="subtitle">
        <a class="btn btn-light" href="{% url 'viewer:archive-download' archive.pk %}">Download archive</a>
        <a class="btn btn-light" href="{% url 'viewer:archive-download' archive.pk %}?original=1">Download with original name</a>
        {% if archive.thumbnail.name %}
          <a class="btn btn-light img-preview" data-image-url="{{ archive.thumbnail.url }}" rel="popover">Hover for cover</a>
        {% endif %}
      </li>
    {% endif %}
    {% if user.is_staff %}
      {% if view == "edit" %}
        <!-- EDIT VIEW  -->
        <li class="subtitle">
          <a href="{% url 'viewer:archive-generate-matches' archive.pk %}">generate matches internally</a> >>
          <a href="{% url 'viewer:archive-generate-matches' archive.pk %}?clear">generate matches internally with cleared title</a> >>
          <span class="dropdown">
                        <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown">match
                        <span class="caret"></span></button>
                        <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#" onclick="sendJSONAPICommand('{% url 'viewer:json-parser' %}', '{{ api_key }}', '{% static 'favicon-160.png' %}', 'match_archive', {archive: {{ archive.pk }}, match_filter: ''}); return false;">All</a>
                          {% for matcher, priority in matchers %}
                            <a class="dropdown-item" href="#" onclick="sendJSONAPICommand('{% url 'viewer:json-parser' %}', '{{ api_key }}', '{% static 'favicon-160.png' %}', 'match_archive', {archive: {{ archive.pk }}, match_filter: '{{ matcher }}'}); return false;">{{ matcher }}</a>
                          {% endfor %}
                        </div>
                    </span> >>
          <a href="{% url 'viewer:archive-update-tool' archive.pk 'clear-possible-matches' %}">Clear possible matches</a>
        </li>
        <li class="subtitle">
          <form action="{% url 'viewer:archive-update' archive.pk %}" method="POST">{% csrf_token %}
            <table class="table">
              {{ form }}
            </table>
            {% if image_formset %}
              {{ image_formset.non_form_errors }}
              {{ image_formset.management_form }}
              <div id="update">
                <button type="submit" class="btn btn-light">Update</button>
              </div>
              <div class="text-center">
                <div class="row">
                  {% for form in image_formset %}
                    {{ form.id }}
                    <div class="thumbnail text-center col-md-2 col-sm-6">
                      <img alt="" src="{% if form.instance.extracted %}{{ form.instance.thumbnail.url }}{% else %}{% static "imgs/no_cover.png" %}{% endif %}"/>
                      <p>{{ form.position.label }}</p>
                      <p>{{ form.position }}</p>
                      {% if image_formset.can_delete %}
                        <p>{{ form.DELETE }}<label for="{{ form.DELETE.input }}"><span><span></span></span>Delete</label></p>
                      {% endif %}
                    </div>
                  {% endfor %}
                </div>
              </div>
              <div id="update">
                <button type="submit" class="btn btn-light">Update</button>
              </div>

            {% endif %}
          </form>

        </li>
      {% else %}
        <!-- COVER VIEW  -->
        <li class="text-center" id="img-container">
          {% for img in images.object_list %}
            {% if view == "cover" %}
              <a href="{% url 'viewer:new-image-viewer' archive.pk images.start_index|add:forloop.counter0 %}?{% url_replace 'extracted' '1' %}">
                <img class="img-fluid mx-auto" alt="" src="{% if img.thumbnail.name %}{{ img.thumbnail.url }}{% else %}{% static "imgs/no_cover.png" %}{% endif %}"/>
              </a>
            {% elif view == "full" %}
              <a href="{% url 'viewer:new-image-viewer' archive.pk images.start_index|add:forloop.counter0 %}?{% url_replace 'extracted' '1' %}">
                <img id="img-{{ forloop.counter }}" class="img-fluid mx-auto" alt="" src="{% if img.image.name %}{{ img.image.url }}{% else %}{% static "imgs/no_cover.png" %}{% endif %}" width="{% if image.is_horizontal %}1500{% else %}1200{% endif %}"/>
              </a>
            {% elif view == "single" %}
              <a href="{% url 'viewer:new-image-viewer' archive.pk images.start_index|add:forloop.counter0 %}?{% url_replace 'extracted' '1' %}">
                <img class="img-fluid mx-auto" alt="" src="{% if img.image.name %}{{ img.image.url }}{% else %}{% static "imgs/no_cover.png" %}{% endif %}" width="{% if image.is_horizontal %}1500{% else %}900{% endif %}"/>
              </a>
            {% elif view == "thumbnails" %}
              <a href="{% url 'viewer:new-image-viewer' archive.pk images.start_index|add:forloop.counter0 %}?{% url_replace 'extracted' '1' %}">
                <img class="img-fluid mx-auto" alt="" src="{% if img.thumbnail.name %}{{ img.thumbnail.url }}{% else %}{% static "imgs/no_cover.png" %}{% endif %}"/></a>{% endif %}
          {% endfor %}
        </li>
      {% endif %}
      <!-- Next/Prev page links  -->
      {% if images and images.paginator.num_pages > 1 %}
        <li class="text-center">
            <span class="step-links">
                {% if images.has_previous %}
                  <a href="?page={{ images.previous_page_number }}">previous &lt;&lt; </a> {% endif %}
              <span class="current">&nbsp;Page {{ images.number }} of {{ images.paginator.num_pages }} </span>
              {% if images.has_next %}<a href="?page={{ images.next_page_number }}">&gt;&gt; next</a> {% endif %}
            </span>
        </li> {% endif %}
    {% endif %}
  </ul>
{% endblock %}
{% block afterJQ %}
  {% if user.is_staff %}
    {{ form.media }}
    <script type="text/javascript">
        var numImages = {{ images|length }};
    </script>
    <script type="text/javascript" src="{% static 'js/vendor/keys.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/archnav.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/admin.js' %}"></script>
  {% endif %}
{% endblock %}
