{% extends "viewer/base.html" %}
{% block title %}Not present archives | {{ block.super }}{% endblock %}
{% block sidebar %}{% endblock %}
{% load static %}

{% block content %}
  {% if messages %}
    {% for message in messages %}
      <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
    {% endfor %}
  {% endif %}
  <!-- Archives not in filesystem  -->
  <div class="page-header">
    <h2>Archives not in filesystem</h2>
    <p class="lead">Number of archives (in page, total): {{ results|length }}, {{ results.paginator.count }}</p>
  </div>
  <form action="{% url 'viewer:archive-not-present' %}" method="GET">
    {% for field in form %}
      <div class="page-line">
        {{ field.errors }}
        {{ field }}
      </div>
    {% endfor %}
    <div class="page-line g-1">
        <div class="btn-group">
          <button id="toggle-all" class="btn btn-secondary" type="button">Toggle All</button>
          <button type="submit" name="apply" class="btn btn-info">Search</button>
          <a class="btn btn-light" href="{% url 'viewer:archive-not-present' %}">Clear</a>
        </div>
    </div>
  </form>
  <!-- Next/Prev page links  -->
  {% if results.object_list and results.paginator.num_pages > 1 %}
    <div>
        <span class="step-links">
            {% if results.has_previous %}
              <a href= "?page={{ results.previous_page_number }}">previous &lt;&lt; </a>
            {% endif %}
          <span class="current">
            &nbsp;Page {{ results.number }} of {{ results.paginator.num_pages }}
          </span>
          {% if results.has_next %}
            <a href="?page={{ results.next_page_number }}"> &gt;&gt; next</a>
          {% endif %}
        </span>
    </div>
  {% endif %}
  <form action="{% url 'viewer:archive-not-present' %}" method="POST">{% csrf_token %}
    <ul class="list-group">
      {% for archive in results %}
        <li class="list-group-item">

          <p{% if not archive.crc32 %} class="archive-incomplete"{% endif %}>
              <span class="me-1">
                  <input id="checkbox-{{ archive.id }}" class="toggle-list form-check-input" type="checkbox" name="del-{{ archive.id }}" value="{{ archive.pk }}"><label for="checkbox-{{ archive.id }}"></label>
              </span>
              <a href="{{ archive.get_absolute_url }}">{{ archive.pk }}</a> >> {{ archive.title }}
          </p>
          <p>{% if archive.zipped %}{{ archive.zipped.path }}{% else %}No file present{% endif %} >> {{ archive.filesize|filesizeformat }} >> {{ archive.filesize }} >> {{ archive.filecount }} >> {{ archive.source_type }}</p>
        </li>
      {% endfor %}
    </ul>
    <button type="submit" name="delete_archives" class="btn btn-light">Delete (WARNING!) selected archives</button>
    <button type="submit" name="mark_deleted" class="btn btn-light">Mark selected archives as deleted</button>
  </form>
  <!-- Next/Prev page links  -->
  {% if results.object_list and results.paginator.num_pages > 1 %}
    <div>
        <span class="step-links">
            {% if results.has_previous %}
              <a href= "?page={{ results.previous_page_number }}">previous &lt;&lt; </a>
            {% endif %}
          <span class="current">
            &nbsp;Page {{ results.number }} of {{ results.paginator.num_pages }}
          </span>
          {% if results.has_next %}
            <a href="?page={{ results.next_page_number }}"> &gt;&gt; next</a>
          {% endif %}
        </span>
    </div>
  {% endif %}
{% endblock %}
{% block afterJQ %}
  {% load compress %}
  {% compress css %}
    <link href="{% static 'css/vendor/jal/style.css' %}" type="text/css" media="all" rel="stylesheet" />
  {% endcompress %}
  {% compress js %}
    <script src="{% static 'js/vendor/jquery.autocomplete-light.min.js' %}"></script>
  {% endcompress %}
  <script type="text/javascript" src="{% static 'js/list_operations.js' %}"></script>
{% endblock %}
