{% extends "viewer/base.html" %}
{% block title %}Missing archives | {{ block.super }}{% endblock %}
{% block sidebar %}{% endblock %}
{% load staticfiles %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
        {% endfor %}
    {% endif %}
    {% if user.is_staff and not force_public %}
    <!-- Galleries not used  -->
    <div class="page-header">
    <h2>Galleries without associated archives</h2>
    <p class="lead">Number of galleries (in page, total): {{ results|length }}, {{ results.paginator.count }}</p>
    </div>
    <form action="{{ request.get_full_path }}" method="GET">
      {% for field in form %}
        <div class="page-line">
          {{ field.errors }}
          {{ field }}
        </div>
      {% endfor %}
      <div class="page-line form-inline">
        <button id="toggle-all" class="btn btn-info" type="button">Toggle All</button>
        <select id="provider" name="provider" class="form-control" title="provider" aria-label="provider">
          <option value="">all</option>
          {% for provider in providers %}
            <option value="{{ provider }}" {% if request.GET.provider == provider %} selected{% endif %}>{{ provider }}</option>
          {% endfor %}
        </select>
        <label>Filecount</label>
        <input size="2" type="text" class="form-control mr-sm-1" name="filecount_from" value="{{ request.GET.filecount_from }}" placeholder="from"/>
        <input size="2" type="text" class="form-control mr-sm-1" name="filecount_to" value="{{ request.GET.filecount_to }}" placeholder="to"/>
        <input title="Category" class="form-control" name="category" placeholder="Category" value="{{ request.GET.category }}">
        <input title="Download type" class="form-control" name="dl_type" placeholder="Download type" value="{{ request.GET.dl_type }}">
        <button type="submit" name="apply" class="btn btn-light">Search</button>
        <a class="btn btn-light" href="{% url 'viewer:missing-archives' %}">Clear</a>
      </div>
    </form>
    <form action="{{ request.get_full_path }}" method="POST">{% csrf_token %}
    {% load viewer_extras %}
    <!-- Next/Prev page links  -->
    {% if results.object_list and results.paginator.num_pages > 1 %}
      <div class="pagination-top">
          <span class="step-links">
              <a href= "?{% url_replace 'page' '1' %}">first &lt;&lt;</a>
            {% if results.has_previous %}
              <a href= "?{% url_replace 'page' results.previous_page_number %}"> previous &lt;&lt; </a>
            {% endif %}
            <span class="current">
                  &nbsp;Page {{ results.number }} of {{ results.paginator.num_pages }}
              </span>
            {% if results.has_next %}
              <a href="?{% url_replace 'page' results.next_page_number %}"> &gt;&gt; next</a>
            {% endif %}
            <a href="?{% url_replace 'page' results.paginator.num_pages %}"> &gt;&gt; last</a>
          </span>
      </div>
    {% endif %}
      <table class="table table-bordered table-sm generic-table">
        <thead>
        <tr>
          <th>Select</th><th>URL</th><th>Title</th><th>Size</th><th>Images</th><th>Source URL | Image</th><th>Linked to Wanted Gallery?</th><th>DL type</th><th>Reason</th><th>Added</th>
        </tr>
        </thead>
        <tbody>
        {% for gallery in results %}
          <tr>
            <td>
              <input id="checkbox-{{ gallery.id }}" class="toggle-list" type="checkbox" name="sel-{{ gallery.id }}" value="{{ gallery.pk }}"><label for="checkbox-{{ gallery.id }}"><span><span></span></span></label>
            </td>
            <td>
              <a href="{% url 'viewer:gallery' gallery.pk %}">{{ gallery.pk }}</a>
            </td>
            <td>
              {{ gallery.title }}
            </td>
            <td>
              {{ gallery.filesize }} ({{ gallery.filesize|filesizeformat }})
            </td>
            <td>
              {{ gallery.filecount }}
            </td>
            <td>
              {% if gallery.thumbnail.name %}
                <a href="{{ gallery.get_link }}" class="img-preview" data-image-url="{{ gallery.thumbnail.url }}" rel="popover">{{ gallery.get_link }}</a>
              {% else %}
                {{ gallery.get_link|urlize }}
              {% endif %}
            </td>
            <td>
              {{ gallery.foundgallery_set.count|yesno:"yes,no" }}
            </td>
            <td>
              {{ gallery.dl_type }}
            </td>
            <td>
              {{ gallery.reason }}
            </td>
            <td>
              {{ gallery.create_date|date:"DATETIME_FORMAT" }}
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    <!-- Next/Prev page links  -->
      {% if results.object_list and results.paginator.num_pages > 1 %}
        <div class="pagination-top">
            <span class="step-links">
                <a href= "?{% url_replace 'page' '1' %}">first &lt;&lt;</a>
              {% if results.has_previous %}
                <a href= "?{% url_replace 'page' results.previous_page_number %}"> previous &lt;&lt; </a>
              {% endif %}
              <span class="current">
                    &nbsp;Page {{ results.number }} of {{ results.paginator.num_pages }}
                </span>
              {% if results.has_next %}
                <a href="?{% url_replace 'page' results.next_page_number %}"> &gt;&gt; next</a>
              {% endif %}
              <a href="?{% url_replace 'page' results.paginator.num_pages %}"> &gt;&gt; last</a>
            </span>
        </div>
      {% endif %}
    <div class="form-group">
      <input size="10" class="form-control" name="reason" value="" placeholder="Reason" maxlength="200"/>
    </div>
    <button name="download_galleries" class="btn btn-light">Force queue for download</button>
    <button name="recall_api" class="btn btn-light">Recall API</button>
    <button name="delete_galleries" class="btn btn-light">Delete (WARNING!)</button>
    </form>
    {% else %}
    <div class="page-header">
    <h2>Galleries without associated archives</h2>
    <p class="lead">If you have any of these galleries, and their unpacked filesize matches the one displayed here (for panda links), please get in touch.</p>
    </div>
    {% if results.count > 0 %}
      <table class="table table-bordered table-sm generic-table">
        <thead>
        <tr>
          <th>URL</th><th>Title</th><th>Size</th><th>Images</th><th>Source URL | Image</th><th>Category</th>
        </tr>
        </thead>
        <tbody>
        {% for gallery in results %}
          <tr>
            <td>
              <a href="{% url 'viewer:gallery' gallery.pk %}">{{ gallery.pk }}</a>
            </td>
            <td>
              {{ gallery.title }}
            </td>
            <td>
              {{ gallery.filesize }} ({{ gallery.filesize|filesizeformat }})
            </td>
            <td>
              {{ gallery.filecount }}
            </td>
            <td>
              {% if gallery.thumbnail.name %}
                <a href="{{ gallery.get_link }}" class="img-preview" data-image-url="{{ gallery.thumbnail.url }}" rel="popover">{{ gallery.get_link }}</a>
              {% else %}
                {{ gallery.get_link|urlize }}
              {% endif %}
            </td>
            <td>
              {{ gallery.category }}
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% endif %}
    {% endif %}
{% endblock %}
{% if user.is_staff %}
{% block afterJQ %}
  {% load compress %}
  {% compress css %}
    <link href="{% static 'autocomplete_light/vendor/jal/src/style.css' %}" type="text/css" media="all" rel="stylesheet" />
  {% endcompress %}
  {% compress js %}
    <script type="text/javascript" src="{% static 'autocomplete_light/jquery.init.js' %}"></script>
    <script type="text/javascript" src="{% static 'autocomplete_light/autocomplete.init.js' %}"></script>
    <script type="text/javascript" src="{% static 'autocomplete_light/vendor/jal/src/autocomplete.js' %}"></script>
    <script type="text/javascript" src="{% static 'autocomplete_light/vendor/jal/src/text_widget.js' %}"></script>
    <script type="text/javascript" src="{% static 'autocomplete_light/jal.js' %}"></script>
  {% endcompress %}
  <script type="text/javascript" src="{% static 'js/list_operations.js' %}"></script>
{% endblock %}
{% endif %}