{% extends "viewer/base.html" %}
{% block title %}{{ archive_group.title }} | {{ block.super }}{% endblock %}
{% block sidebar %}{% endblock %}

{% load static %}

{% block content %}
  {% load viewer_extras %}
  {% if messages %}
    {% for message in messages %}
      <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
    {% endfor %}
  {% endif %}
  <!-- ArchiveGroup  -->
  <div class="container">
    <div class="row">
    <div class="col-md-10 col-sm-12">
        <h3>{{ archive_group.title }}</h3>

    </div>
      {% if perms.viewer.change_archivegroup %}
      <div class="col-md-2 col-sm-12">
        {% if perms.viewer.expand_archive %}<a class="btn btn-secondary float-end" href="{% url 'viewer:archive-group-edit' archive_group.title_slug %}?extract_all=" role="button">Extract all</a>{% endif %}
        <a class="btn btn-secondary float-end" href="{% url 'viewer:archive-group-edit' archive_group.title_slug %}" role="button">Edit</a>
      </div>
      {% endif %}
    </div>
  </div>
  <div class="arch-cont">

  <!-- Next/Prev page links  -->
    {% if results.object_list and results.paginator.num_pages > 1 %}
      <div>
          <span class="step-links">
              <a href= "?{% url_replace 'page' '1' %}">first &lt;&lt;</a>
            {% if results.has_previous %}
              <a href= "?{% url_replace 'page' results.previous_page_number %}"> previous &lt;&lt; </a>
            {% endif %}
            <span class="current">
                  &nbsp;Page {{ results.number }} of {{ results.paginator.num_pages }}, {{ results.paginator.count }} archives
              </span>
            {% if results.has_next %}
              <a href="?{% url_replace 'page' results.next_page_number %}"> &gt;&gt; next</a>
            {% endif %}
            <a href="?{% url_replace 'page' results.paginator.num_pages %}"> &gt;&gt; last</a>
          </span>
      </div>
    {% endif %}
  {% for archive_entry in results %}
    {% include 'viewer/include/archive_group_entry.html' with archive_entry=archive_entry %}
  {% endfor %}
  <!-- Next/Prev page links  -->
    {% if results.object_list and results.paginator.num_pages > 1 %}
      <div>
          <span class="step-links">
              <a href= "?{% url_replace 'page' '1' %}">first &lt;&lt;</a>
            {% if results.has_previous %}
              <a href= "?{% url_replace 'page' results.previous_page_number %}"> previous &lt;&lt; </a>
            {% endif %}
            <span class="current">
                  &nbsp;Page {{ results.number }} of {{ results.paginator.num_pages }}, {{ results.paginator.count }} archives
              </span>
            {% if results.has_next %}
              <a href="?{% url_replace 'page' results.next_page_number %}"> &gt;&gt; next</a>
            {% endif %}
            <a href="?{% url_replace 'page' results.paginator.num_pages %}"> &gt;&gt; last</a>
          </span>
      </div>
    {% endif %}
  </div>

{% endblock %}
{% block afterJQ %}
  {% load compress %}
  {% compress js %}
    <script>
    var tagData = {};
    var tagUrl = '{% url 'viewer:api' %}?at=';
    function tagToHtml (tag) {
        return '<div class="tag">' + tag + '</div>'
    }
    $(document).ready(function() {
        $(".tag-preview").click(function() {
            var el = $(this);
            var pk = $(this).data('bs-pk');
            if (tagData[pk]) {
                return tagData[pk];
            }
            else {
                $.get(tagUrl + pk, function(response) {
                    if (response.tags) {
                        tagData[pk] = response.tags.map(tagToHtml);
                        el.unbind('click').popover({
                            content: tagData[pk].join(""),
                            {#            title: 'Dynamic response!',#}
                            html: true,
                            {#                        delay: {show: 500, hide: 100}#}
                        }).popover('show');
                    }
                });
            }
        });
    });
    </script>
  {% endcompress %}
{% endblock %}