{% extends "viewer/base.html" %}
{% block title %}Non-matched archives | {{ block.super }}{% endblock %}
{% block sidebar %}{% endblock %}
{% load static %}
{% block content %}
  {% load viewer_extras %}
  {% if messages %}
    {% for message in messages %}
      <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
    {% endfor %}
  {% endif %}
  <!-- Non matched archives  -->
  <div class="page-header">
    <h2>Archives not matched with any gallery</h2>
    <p class="lead">Number of archives not matched (in page, total): {{ results|length }}, {{ results.paginator.count }}</p>
  </div>
  <form action="{% url 'viewer:archives-not-matched' %}" method="GET">
    {% for field in form %}
      <div class="page-line">
        {{ field.errors }}
        {{ field }}
      </div>
    {% endfor %}
    <div class="page-line form-inline">
      <button id="toggle-all" class="btn btn-secondary" type="button">Toggle All</button>
      <button type="submit" name="apply" class="btn btn-info">Search</button>
      <a class="btn btn-light" href="{% url 'viewer:archives-not-matched' %}">Clear</a>
      <input id="checkbox-f1" class="custom-cb" type="checkbox" name="no-custom-tags" value="1" {% if "no-custom-tags" in request.GET %}checked{% endif %}><label for="checkbox-f1"><span><span></span></span>No custom tags</label>
      <input id="checkbox-f2" class="custom-cb" type="checkbox" name="with-possible-matches" value="1" {% if "with-possible-matches" in request.GET %}checked{% endif %}><label for="checkbox-f2"><span><span></span></span>With possible matches</label>
      <input id="checkbox-f3" class="custom-cb" type="checkbox" name="inline-thumbnails" value="1" {% if "inline-thumbnails" in request.GET %}checked{% endif %}><label for="checkbox-f3"><span><span></span></span>Inline thumbnails</label>
      <input title="Limit" size="18" type="number" step="1" class="form-control" name="limit" value="{{ request.GET.limit }}" placeholder="Archives per page"/>
    </div>
  </form>
  <!-- Next/Prev page links  -->
  {% if results.object_list and results.paginator.num_pages > 1 %}
    <div>
        <span class="step-links">
            <a href= "?{% url_replace 'page' '1' %}">first &lt;&lt;</a>
          {% if results.has_previous %}
            <a href= "?{% url_replace 'page' results.previous_page_number %}"> previous &lt;&lt; </a>
          {% endif %}
          <span class="current">
                &nbsp;Page {{ results.number }} of {{ results.paginator.num_pages }}
            </span>
          {% if results.has_next %}
            <a href="?{% url_replace 'page' results.next_page_number %}"> &gt;&gt; next</a>
          {% endif %}
          <a href="?{% url_replace 'page' results.paginator.num_pages %}"> &gt;&gt; last</a>
        </span>
    </div>
  {% endif %}
  <form action="{% url 'viewer:archives-not-matched' %}" method="POST">{% csrf_token %}
    <ul class="list-group">
      {% for archive in results %}
        <li class="list-group-item">
          <input id="sel-{{ archive.id }}" class="toggle-list custom-cb" type="checkbox" name="sel-{{ archive.id }}" value="{{ archive.pk }}"><label for="sel-{{ archive.id }}"><span><span></span></span></label><a href="{{ archive.get_absolute_url }}">{{ archive.pk }}</a> >>
          {{ archive.best_title }} >>
          <span class="dropdown">
            <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown">generate matches internally<span class="caret"></span></button>
            <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="#" onclick="sendJSONAPICommand('{% url 'viewer:json-parser' %}', '{{ api_key }}', '{% static 'favicon-160.png' %}', 'match_archive_internally', {archive: {{ archive.pk }}, provider: ''}); return false;">All</a>
              {% for provider in providers %}
                <a class="dropdown-item" href="#" onclick="sendJSONAPICommand('{% url 'viewer:json-parser' %}', '{{ api_key }}', '{% static 'favicon-160.png' %}', 'match_archive_internally', {archive: {{ archive.pk }}, provider: '{{ provider }}'}); return false;">{{ provider }}</a>
              {% endfor %}
            </div>
          </span>
          <span class="dropdown">
            <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown">generate matches internally clear title<span class="caret"></span></button>
            <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="#" onclick="sendJSONAPICommand('{% url 'viewer:json-parser' %}', '{{ api_key }}', '{% static 'favicon-160.png' %}', 'match_archive_internally', {archive: {{ archive.pk }}, provider: '', clear: ''}); return false;">All</a>
              {% for provider in providers %}
                <a class="dropdown-item" href="#" onclick="sendJSONAPICommand('{% url 'viewer:json-parser' %}', '{{ api_key }}', '{% static 'favicon-160.png' %}', 'match_archive_internally', {archive: {{ archive.pk }}, provider: '{{ provider }}', clear: ''}); return false;">{{ provider }}</a>
              {% endfor %}
            </div>
          </span>
          <span class="dropdown">
            <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown">generate matches web<span class="caret"></span></button>
            <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="#" onclick="sendJSONAPICommand('{% url 'viewer:json-parser' %}', '{{ api_key }}', '{% static 'favicon-160.png' %}', 'match_archive', {archive: {{ archive.pk }}, match_filter: ''}); return false;">All</a>
              {% for matcher, priority in matchers %}
                <a class="dropdown-item" href="#" onclick="sendJSONAPICommand('{% url 'viewer:json-parser' %}', '{{ api_key }}', '{% static 'favicon-160.png' %}', 'match_archive', {archive: {{ archive.pk }}, match_filter: '{{ matcher }}'}); return false;">{{ matcher }}</a>
              {% endfor %}
            </div>
          </span> >>
          <a href="{% url 'viewer:archive-update-tool' archive.pk 'clear-possible-matches' %}">Clear possible matches</a>
          <p>{{ archive.zipped.path }} >>
            {{ archive.filesize|filesizeformat }}, {{ archive.filesize }} >>
            {{ archive.filecount }} >>
            {{ archive.source_type }} >>
            {% if archive.thumbnail.name %}
              <a href="#" data-image-url="{{ archive.thumbnail.url }}" class="img-preview" rel="popover">Thumbnail</a></p>
            {% endif %}
          {% if archive.thumbnail.name and inline_thumbnails %}
          <p>
          {% include 'viewer/include/archive_cover.html' with show_artist=1 %}
          {% with matches=archive.possible_galleries %}
            {% if matches|length > 0 %}
                {% regroup matches by gallery as matches_list %}
                    {% for gallery, gallery_matches in matches_list %}
                  {% include 'viewer/include/archive_match.html' %}
                {% endfor %}
            {% endif %}
          {% endwith %}
          </p>
          {% else %}
          {% with matches=archive.possible_galleries %}
            {% if matches|length > 0 %}
            {% regroup matches by gallery as matches_list %}
              <table class="table table-bordered table-sm generic-table">
                <thead>
                <tr>
                    <th>Select</th><th>First Artist</th><th>Title</th><th>URL</th>
                    <th>
                            <div class="d-flex justify-content-between">
                            <div>Type</div><div>Accuracy</div>
                            </div>
                    </th>
                    <th>Posted</th><th>Count</th><th>Size</th><th>Linked?</th>
                </tr>
                </thead>
                <tbody>
                {% for gallery, gallery_matches in matches_list %}
                  <tr>
                    <td>
                      <a href="{% url 'viewer:archive-update-tool-id' archive.pk 'select-as-match' gallery.pk %}"><i class="fas fa-check"></i></a>
                    </td>
                    <td>
                      {{ gallery.artist_tags.0.name }}
                    </td>
                    <td>

                    {% if gallery.thumbnail.name %}
                      <a href="{% url 'viewer:gallery' gallery.pk %}" data-image-url="{{ gallery.thumbnail.url }}" class="img-preview" rel="popover">{{ gallery.title }}</a>
                    {% else %}
                      <a href="{% url 'viewer:gallery' gallery.pk %}">{{ gallery.title }}</a>
                    {% endif %}
                    </td>
                    <td>
                      {{ gallery.get_link|urlize_all_rel }}
                    </td>
                    <td>
                        {% for match in gallery_matches %}
                            <div class="d-flex justify-content-between acc-{{ match.match_accuracy|color_percent:1 }}">
                            <div>
                                {{ match.match_type }}
                            </div>
                            <div>
                                {{ match.match_accuracy|floatformat:3 }}
                            </div>
                            </div>
                        {% endfor %}
                    </td>
                    <td>
                      {{ gallery.posted }}
                    </td>
                    <td class="{{ gallery.filecount|color_percent:archive.filecount }}">
                      {{ gallery.filecount }}
                    </td>
                    <td class="{{ gallery.filesize|color_percent:archive.filesize }}">
                      {{ gallery.filesize }}
                    </td>
                    <td>
                      {{ gallery.archive_set.all|yesno }}
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            {% endif %}
          {% endwith %}
          {% endif %}
        </li>
      {% endfor %}
    </ul>
    <div class="form-inline">
      <input title="Cutoff" size="10" type="number" step="0.01" class="form-control" name="cutoff" value="" placeholder="Cutoff"/>
      <input title="Max matches" size="10" type="number" step="1" class="form-control" name="max-matches" value="10" placeholder="Max Matches"/>
    <span class="dropup">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Create web matches for selected archives<span class="caret"></span></button>
        <ul class="dropdown-menu dropdown-menu-right">
        <li><button type="submit" name="create_possible_matches" class="btn btn-light" value="">All</button></li>
          {% for matcher, priority in matchers %}
            <li><button type="submit" name="create_possible_matches" class="btn btn-light" value="{{ matcher }}">{{ matcher }}</button></li>
          {% endfor %}
        </ul>
    </span>
    <span class="dropup">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Create internal matches for selected archives<span class="caret"></span></button>
        <ul class="dropdown-menu dropdown-menu-right">
        <li><button type="submit" name="create_possible_matches_internal" class="btn btn-light" value="">All</button></li>
          {% for provider in providers %}
            <li><button type="submit" name="create_possible_matches_internal" class="btn btn-light" value="{{ provider }}">{{ provider }}</button></li>
          {% endfor %}
        </ul>
    </span>
    <button type="submit" name="delete_objects" class="btn btn-light">Delete selected archives</button>
    <button type="submit" name="delete_archives" class="btn btn-light">Delete (WARNING!) selected archives and files</button>
    </div>
  </form>
  <!-- Next/Prev page links  -->
  {% if results.object_list and results.paginator.num_pages > 1 %}
    <div>
        <span class="step-links">
            {% if results.has_previous %}
              <a href= "?page={{ results.previous_page_number }}">previous &lt;&lt; </a>
            {% endif %}
          <span class="current">
                &nbsp;Page {{ results.number }} of {{ results.paginator.num_pages }}
            </span>
          {% if results.has_next %}
            <a href="?page={{ results.next_page_number }}"> &gt;&gt; next</a>
          {% endif %}
        </span>
    </div>
  {% endif %}
{% endblock %}
{% block afterJQ %}
  {% load compress %}
  {% compress css %}
    <link href="{% static 'autocomplete_light/vendor/jal/src/style.css' %}" type="text/css" media="all" rel="stylesheet" />
  {% endcompress %}
  {% compress js %}
    <script type="text/javascript" src="{% static 'autocomplete_light/jquery.init.js' %}"></script>
    <script type="text/javascript" src="{% static 'autocomplete_light/autocomplete.init.js' %}"></script>
    <script type="text/javascript" src="{% static 'autocomplete_light/vendor/jal/src/autocomplete.js' %}"></script>
    <script type="text/javascript" src="{% static 'autocomplete_light/vendor/jal/src/text_widget.js' %}"></script>
    <script type="text/javascript" src="{% static 'autocomplete_light/jal.js' %}"></script>
  {% endcompress %}
  <script type="text/javascript" src="{% static 'js/list_operations.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/admin.js' %}"></script>
  <script>
    var tagData = {};
    var tagUrl = '{% url 'viewer:api' %}?at=';
    function tagToHtml (tag) {
        return '<div class="tag">' + tag + '</div>'
    }
    $(document).ready(function() {
        $(".tag-preview").click(function() {
            var el = $(this);
            var pk = $(this).data('pk');
            if (tagData[pk]) {
                return tagData[pk];
            }
            else {
                $.get(tagUrl + pk, function(response) {
                    if (response.tags) {
                        tagData[pk] = response.tags.map(tagToHtml);
                        el.unbind('click').popover({
                            content: tagData[pk].join(""),
                            {#            title: 'Dynamic response!',#}
                            html: true,
                            {#                        delay: {show: 500, hide: 100}#}
                        }).popover('show');
                    }
                });
            }
        });
    });
  </script>
  <script>
    var tagDataGallery = {};
    var tagUrlGallery = '{% url 'viewer:api' %}?gt=';
    function tagToHtml (tag) {
        return '<div class="tag">' + tag + '</div>'
    }
    $(document).ready(function() {
        $(".tag-preview-g").click(function() {
            var el = $(this);
            var pk = $(this).data('pk');
            if (tagDataGallery[pk]) {
                return tagDataGallery[pk];
            }
            else {
                $.get(tagUrlGallery + pk, function(response) {
                    if (response.tags) {
                        tagDataGallery[pk] = response.tags.map(tagToHtml);
                        el.unbind('click').popover({
                            content: tagDataGallery[pk].join(""),
                            {#            title: 'Dynamic response!',#}
                            html: true,
                            {#                        delay: {show: 500, hide: 100}#}
                        }).popover('show');
                    }
                });
            }
        });
    });
  </script>
{% endblock %}
