{% extends "viewer/base.html" %}
{% block title %}Missing archives | {{ block.super }}{% endblock %}
{% block sidebar %}{% endblock %}
{% load static %}

{% block content %}
    {% load viewer_extras %}
    {% if messages %}
        {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
        {% endfor %}
    {% endif %}
    <div class="page-header">
    <h2>Galleries without associated archives (total: {{ results.count }})</h2>
      <p class="lead">If you have any of these galleries, and their <b>unpacked filesize MATCHES the one displayed here</b> (for panda links), please get in touch.</p>
    </div>
    {% if results.count > 0 %}
      <table class="table table-bordered table-sm generic-table">
        <thead>
        <tr>
          <th>URL</th><th>Title</th><th>Size</th><th>Images</th><th>Source URL | Image</th><th>Category</th>
        </tr>
        </thead>
        <tbody>
        {% for gallery in results %}
          <tr>
            <td>
              <a href="{% url 'viewer:gallery' gallery.pk %}">{{ gallery.pk }}</a>
            </td>
            <td>
              {{ gallery.title }}
            </td>
            <td>
              {{ gallery.filesize }} ({{ gallery.filesize|filesizeformat }})
            </td>
            <td>
              {{ gallery.filecount }}
            </td>
            <td>
              {% if gallery.thumbnail.name %}
                <a href="{{ gallery.get_link }}" class="img-preview" data-image-url="{{ gallery.thumbnail.url }}" rel="popover noopener noreferrer nofollow">{{ gallery.get_link }}</a>
              {% else %}
                {{ gallery.get_link|urlize_all_rel }}
              {% endif %}
            </td>
            <td>
              {{ gallery.category }}
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% endif %}
{% endblock %}