{% extends "viewer/base.html" %}
{% block title %}{{ archive_group.title }} | {{ block.super }}{% endblock %}
{% block sidebar %}{% endblock %}

{% load static %}

{% block content %}
  {% load viewer_extras %}
  {% if messages %}
    {% for message in messages %}
      <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
    {% endfor %}
  {% endif %}
  <!-- ArchiveGroup  -->
  <div class="container">
    <div class="row">
    <div class="col-md-7 col-sm-12">
        <h3>{{ archive_group.title }}</h3>
    </div>
      <div class="col-md-5 col-sm-12">
        <button class="btn btn-secondary float-right" id="edit-archive-group" data-toggle="collapse" data-target="#add-change-archive-group-form" name="edit-archive-group" type="button" aria-label="toggle edit archive group">Edit <i class="fas fa-chevron-down"></i></button>
        <a class="btn {% if 'add_multiple' in request.GET %}btn-info{% else %}btn-secondary{% endif %} float-right" href="?{% url_toggle 'add_multiple' %}" role="button">Add Multiple Archives</a>
        {% if perms.viewer.expand_archive %}<a class="btn btn-secondary float-right" href="{% url 'viewer:archive-group-edit' archive_group.title_slug %}?extract_all=" role="button">Extract all</a>{% endif %}
        <a class="btn btn-secondary float-right" href="{% url 'viewer:archive-group' archive_group.title_slug %}" role="button">View</a>
      </div>
    </div>
  </div>
  <div class="page-line">
    {% include 'viewer/include/archive_group_edit.html' %}
    {% if 'add_multiple' in request.GET %}
    {% include 'viewer/include/search_archive_form.html' %}
    {% endif %}
    </div>
  <div class="arch-cont">
  <!-- Next/Prev page links  -->
    {% if results.object_list and results.paginator.num_pages > 1 %}
      <div>
          <span class="step-links">
              <a href= "?{% url_replace 'page' '1' %}">first &lt;&lt;</a>
            {% if results.has_previous %}
              <a href= "?{% url_replace 'page' results.previous_page_number %}"> previous &lt;&lt; </a>
            {% endif %}
            <span class="current">
                  &nbsp;Page {{ results.number }} of {{ results.paginator.num_pages }}, {{ results.paginator.count }} archives
              </span>
            {% if results.has_next %}
              <a href="?{% url_replace 'page' results.next_page_number %}"> &gt;&gt; next</a>
            {% endif %}
            <a href="?{% url_replace 'page' results.paginator.num_pages %}"> &gt;&gt; last</a>
          </span>
      </div>
    {% endif %}
  {% for archive_entry in results %}
    {% with archive=archive_entry.archive %}
    <div class="gallery">
      <a class="cover" href="{% url 'viewer:archive' archive.pk %}">
        <div class="cover-title{% if not archive.crc32 %} archive-incomplete{% endif %}" title="{{ archive_entry.title }}">{{ archive_entry.title }}</div>
        {% with thumbnail_details=archive.get_available_thumbnail_plus_size %}
        <img class="image-container mx-auto" alt="" title="{{ archive.title }}"
            width="{{ thumbnail_details.2 }}" height="{{ thumbnail_details.1 }}" src="{{ thumbnail_details.0 }}"/>
        {% endwith %}
      </a>
      <div class="caption">
        {{ archive.filecount }} | {{ archive.filesize|filesizeformat }} | {% if archive.crc32 %}<a href="{% url 'viewer:archive-download' archive.pk %}">DL</a>{% else %}DL{% endif %} | <a class="tag-preview" tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-pk="{{ archive.pk }}">Tags</a>
        {% if user.is_authenticated and archive.extracted %}| <a href="{% url 'viewer:new-image-viewer' archive.pk '1' %}?{% url_replace 'extracted' '1' %}">View</a>{% endif %}
      </div>
    </div>
    {% endwith %}
  {% endfor %}
  <!-- Next/Prev page links  -->
    {% if results.object_list and results.paginator.num_pages > 1 %}
      <div>
          <span class="step-links">
              <a href= "?{% url_replace 'page' '1' %}">first &lt;&lt;</a>
            {% if results.has_previous %}
              <a href= "?{% url_replace 'page' results.previous_page_number %}"> previous &lt;&lt; </a>
            {% endif %}
            <span class="current">
                  &nbsp;Page {{ results.number }} of {{ results.paginator.num_pages }}, {{ results.paginator.count }} archives
              </span>
            {% if results.has_next %}
              <a href="?{% url_replace 'page' results.next_page_number %}"> &gt;&gt; next</a>
            {% endif %}
            <a href="?{% url_replace 'page' results.paginator.num_pages %}"> &gt;&gt; last</a>
          </span>
      </div>
    {% endif %}
  </div>

{% endblock %}
{% block afterJQ %}
  {% load compress %}
  {{ archive_group_entry_formset.media }}
  {% compress css %}
    <link href="{% static 'autocomplete_light/vendor/jal/src/style.css' %}" type="text/css" media="all" rel="stylesheet" />
  {% endcompress %}
  {% compress js %}
    <script type="text/javascript" src="{% static 'autocomplete_light/vendor/jal/src/autocomplete.js' %}"></script>
    <script type="text/javascript" src="{% static 'autocomplete_light/vendor/jal/src/text_widget.js' %}"></script>
    <script type="text/javascript" src="{% static 'autocomplete_light/jal.js' %}"></script>
  {% endcompress %}
  {% compress js %}
    <script>
    $('#edit-archive-group').click(function () {
    if($('#edit-archive-group i').hasClass('fa-chevron-down'))
    {
       $('#edit-archive-group').html('Edit <i class="fas fa-chevron-up"></i>');
    }
    else
    {
        $('#edit-archive-group').html('Edit <i class="fas fa-chevron-down"></i>');
    }
    });
    </script>
    <script type="text/javascript" src="{% static 'js/list_operations.js' %}"></script>
    <script>
    var tagData = {};
    var tagUrl = '{% url 'viewer:api' %}?at=';
    function tagToHtml (tag) {
        return '<div class="tag">' + tag + '</div>'
    }
    $(document).ready(function() {
        $(".tag-preview").click(function() {
            var el = $(this);
            var pk = $(this).data('pk');
            if (tagData[pk]) {
                return tagData[pk];
            }
            else {
                $.get(tagUrl + pk, function(response) {
                    if (response.tags) {
                        tagData[pk] = response.tags.map(tagToHtml);
                        el.unbind('click').popover({
                            content: tagData[pk].join(""),
                            html: true,
                        }).popover('show');
                    }
                });
            }
        });
    });

    </script>
  {% endcompress %}
{% endblock %}