{% extends "viewer/base.html" %}
{% block title %}Search | {{ block.super }}{% endblock %}
{% block sidebar %}{% endblock %}
{% load static %}

{% block content %}
  {% load viewer_extras %}
  {% if messages %}
    {% for message in messages %}
      <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}"
           role="alert">{{ message }}</div>
    {% endfor %}
  {% endif %}
  <!-- Form  -->
  <form action="{% url 'viewer:archive-search' %}" method="GET">
    <div id="main-search" class="collapse{% if prm.main_filters %} show{% endif %}">
      {% for field in form %}
        <div class="page-line">
          {{ field.errors }}
          {{ field }}
        </div>
      {% endfor %}
      <div id="extra_filters" class="page-line collapse{% if prm.extra_filters %} show{% endif %}">
        <div class="form-inline">
          {% if user.is_staff %}
            <input class="form-control mr-sm-1" name="filename" value="{{ display_prms.filename }}"
                   placeholder="Filename"/>
            <input name="match_type" class="form-control mr-sm-1" value="{{ display_prms.match_type }}"
                   placeholder="Match Type"/>
          {% endif %}
          {% for field in form_simple %}
            {{ field.label_tag }}{{ field }}
          {% endfor %}
        </div>
      </div>
      <div class="page-line form-inline">
        <label for="sort">Sort</label>
        <select id="sort" name="sort" class="form-control mx-sm-1">
          <option value="posted" {% if prm.sort == "posted" %} selected{% endif %}>posted date</option>
          {% if user.is_staff %}
            <option value="create_date" {% if prm.sort == "create_date" %} selected{% endif %}>create date</option>
            <option value="public_date" {% if prm.sort == "public_date" %} selected{% endif %}>public date</option>
          {% else %}
            <option value="public_date" {% if prm.sort == "public_date" %} selected{% endif %}>public date</option>
          {% endif %}
          <option value="title" {% if prm.sort == "title" %} selected{% endif %}>title</option>
          <option value="title_jpn" {% if prm.sort == "title_jpn" %} selected{% endif %}>title jpn</option>
          <option value="rating" {% if prm.sort == "rating" %} selected{% endif %}>rating</option>
          <option value="filecount" {% if prm.sort == "filecount" %} selected{% endif %}>images</option>
          <option value="filesize" {% if prm.sort == "filesize" %} selected{% endif %}>size</option>
        </select>
        <select id="asc_desc" name="asc_desc" class="form-control mr-sm-1" title="sort_order" aria-label="sort_order">
          <option value="asc" {% if prm.asc_desc == "asc" %} selected{% endif %}>ascending</option>
          <option value="desc" {% if prm.asc_desc == "desc" %} selected{% endif %}>descending</option>
        </select>
        <button type="submit" name="apply" class="btn btn-light mr-sm-1">Search</button>
        <button type="submit" name="clear" class="btn btn-light mr-sm-1">Clear</button>
        <button type="button" class="btn btn-info mr-sm-1" data-toggle="collapse" data-target="#extra_filters">More filters</button>
        <button type="submit" name="gen-ddl" class="btn btn-light mr-sm-1">Generate DDLs</button>
        <button type="submit" name="rss" onclick="this.form.action='{% url "viewer:archive-rss" %}'; this.form.submit(); this.form.action='{% url "viewer:main-page" %}'; return false;" class="btn btn-light">View as RSS</button>
        {% if user.is_authenticated %}<input id="checkbox1" class="custom-cb" type="checkbox" name="only_favorites" value="1"
                                             {% if display_prms.only_favorites == '1' %}checked{% endif %}><label
            for="checkbox1"><span><span></span></span>Only favorites</label>{% endif %}
        {% if user.is_staff %}<input id="checkbox2" class="custom-cb" type="checkbox" name="non_public" value="1"
                                     {% if display_prms.non_public == '1' %}checked{% endif %}><label
            for="checkbox2"><span><span></span></span>Only private</label>
          <input id="checkbox3" class="custom-cb" type="checkbox" name="public" value="1"
                 {% if display_prms.public == '1' %}checked{% endif %}><label
            for="checkbox3"><span><span></span></span>Only public</label>{% endif %}
      </div>
    </div>
    {% if results %}
      <ul class="result-container">
        <!-- Next/Prev page links  -->
        <li>
          <div class="row{% if prm.view == "cover" %} page-line{% endif %}">
            <div class="col-md-4">
              {% if results.paginator.num_pages > 1 %}
                <nav>
                  <ul class="pagination">
                    <li class="page-item{% if results.number == 1 %} disabled{% endif %}">
                      <a class="page-link" href="?{% url_replace 'page' '1' %}" aria-label="First">
                        <span aria-hidden="true">&laquo;</span>
                      </a>
                    </li>
                    {% for p in display_prms.page_range %}
                      <li class="page-item{% if p == results.number %} active{% endif %}">
                        <a class="page-link" href="?{% url_replace 'page' p %}">{{ p }}</a>
                      </li>
                    {% empty %}
                      <li class="page-item active"><a class="page-link" href="?{% url_replace 'page' '1' %}">1</a></li>
                    {% endfor %}
                    <li class="page-item{% if results.number == results.paginator.num_pages %} disabled{% endif %}">
                      <a class="page-link" href="?{% url_replace 'page' results.paginator.num_pages %}"
                         aria-label="Last">
                        <span aria-hidden="true">&raquo;</span>
                      </a>
                    </li>
                  </ul>
                </nav>
              {% endif %}
            </div>
            <div class="col-md-4">
              <nav aria-label="Middle navigation">
                <ul class="pagination justify-content-center">
                  {% if results.has_previous %}
                    <li class="page-item"><a class="page-link" href="?{% url_replace 'page' results.previous_page_number %}">Previous</a></li>
                  {% else %}
                    <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                  {% endif %}
                  <li class="page-item">
                    <div class="mid-item">{{ results.paginator.count }} results</div>
                  </li>
                  {% if results.has_next %}
                    <li class="page-item"><a class="page-link" href="?{% url_replace 'page' results.next_page_number %}">Next</a></li>
                  {% else %}
                    <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
                  {% endif %}
                </ul>
              </nav>
            </div>

            {% if extra_options %}
              <div class="col-md-4 justify-content-end">
                <nav>
                  <ul class="pagination justify-content-end">
                  {% for option in extra_options %}
                    <li class="page-item{% if option == prm.view %} active{% endif %}">
                      <a class="page-link" href="?{% url_replace 'view' option %}">{{ option }}</a>
                    </li>
                  {% endfor %}
                  </ul>
                </nav>
              </div>
            {% endif %}
          </div>
        </li>
        <!-- Results  -->
        <li>
          {% if prm.view == "cover" %}
            <div class="arch-cont">
              {% for archive in results.object_list %}
                <div class="gallery">
                  <a class="cover" href="{% url 'viewer:archive' archive.pk %}">
                    <div class="cover-title{% if not archive.crc32 %} archive-incomplete{% endif %}" title="{{ archive.title }}">{{ archive.title }}</div>
                    {% with thumbnail_details=archive.get_available_thumbnail_plus_size %}
                    <img class="image-container mx-auto" alt="" title="{{ archive.title }}"
                        width="{{ thumbnail_details.2 }}" height="{{ thumbnail_details.1 }}" src="{{ thumbnail_details.0 }}"/>
                    {% endwith %}
                  </a>
                  <div class="caption">
                    {{ archive.filecount }} | {{ archive.filesize|filesizeformat }} | {% if archive.crc32 %}<a href="{% url 'viewer:archive-download' archive.pk %}">DL</a>{% else %}DL{% endif %} | <a class="tag-preview" tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-pk="{{ archive.pk }}">Tags</a> | <a href="{% url 'viewer:api' %}?archive={{ archive.pk }}">JSON</a>
                    {% if user.is_authenticated and archive.extracted %}| <a href="{% url 'viewer:new-image-viewer' archive.pk '1' %}?{% url_replace 'extracted' '1' %}">View</a>{% endif %}
                  </div>

                </div>
              {% endfor %}
            </div>
          {% elif prm.view == "list" %}
            <div class="table-responsive">
            <table class="table table-sm table-bordered result-table mb-0">
              <thead>
              <tr>{% if prm.sort == "create_date" %}
                <th class="w-5"><a href="?{% url_replace 'sort' 'create_date' %}">Created</a></th>
              {% elif prm.sort == "public_date" %}
                <th><a href="?{% url_replace 'sort' 'public_date' %}">Added</a></th>
              {% else %}
                <th><a href="?{% url_replace 'sort' 'posted' %}">Posted</a></th>
              {% endif %}
                  <th><a href="?{% url_replace 'sort' 'title' %}">Title</a></th>
                  <th>Source</th>
                  <th>Reason</th>
                <th><a href="?{% url_replace 'sort' 'filecount' %}">Images</a></th>
                <th><a href="?{% url_replace 'sort' 'filesize' %}">Size</a></th>
              </tr>
              </thead>
              <tbody>
              {% for archive in results.object_list %}
                <tr class="result-list">
                  {% if prm.sort == "create_date" %}
                    <td>{{ archive.create_date|date:"SHORT_DATE_FORMAT" }}</td>
                  {% elif prm.sort == "public_date" %}
                    <td>{{ archive.public_date|date:"SHORT_DATE_FORMAT" }}</td>
                  {% else %}
                    <td>{{ archive.gallery.posted|date:"SHORT_DATE_FORMAT" }}</td>
                  {% endif %}
                    <td><a href="{% url 'viewer:archive' archive.pk %}" class="{% if not archive.crc32 %}archive-incomplete{% endif %}" title="{{ archive.title_jpn }}">{{ archive.title }}</a></td>
                    <td>{{ archive.source_type }}</td>
                    <td>{{ archive.reason }}</td>
                  <td>{{ archive.filecount }}</td>
                  <td>{{ archive.filesize|filesizeformat }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
            </div>
          {% elif prm.view == "extended" %}
            <table class="table table-sm result-table">
              <tbody>
              {% for archive in results.object_list %}
                <tr>
                  <td class="td-extended">
                    <a href="{% url 'viewer:archive' archive.pk %}">
                      {% with thumbnail_details=archive.get_available_thumbnail_plus_size %}
                      <img alt="" title="{{ archive.title }}"
                          width="{{ thumbnail_details.2 }}" height="{{ thumbnail_details.1 }}" src="{{ thumbnail_details.0 }}"/>
                      {% endwith %}
                    </a>
                  </td>
                  <td class="td-extended">
                    <h5 class="{% if not archive.crc32 %}archive-incomplete{% endif %}">{{ archive.title }}</h5>
                    <h6>{{ archive.title_jpn }}</h6>
                    {% if user.is_staff %}
                      <div><em>{{ archive.zipped }}</em></div>
                      <div>
                      {% if archive.extracted %}
                        <a class="btn btn-sm btn-info" href="{% url 'viewer:new-image-viewer' archive.pk '1' %}?{% url_replace 'extracted' '1' %}">View online</a>
                        <a class="btn btn-sm btn-light" href="{% url 'viewer:archive-extract-toggle' archive.pk %}">Reduce archive</a>
                      {% else %}
                        <a class="btn btn-sm btn-light" href="{% url 'viewer:archive-extract-toggle' archive.pk %}">Expand archive</a>
                      {% endif %}
                        <a class="btn btn-sm btn-light" href="{% url 'viewer:archive-download' archive.pk %}">Download archive</a>
                        <a class="btn btn-sm btn-light" href="{% url 'viewer:archive-download' archive.pk %}?original=1">Download with original name</a>
                        <a class="btn btn-sm btn-light" href="{% url 'viewer:api' %}?archive={{ archive.pk }}">JSON info</a>
                      </div>
                    {% else %}
                      <div>
                        <a class="btn btn-sm btn-light" href="{% url 'viewer:archive-download' archive.pk %}">Download archive</a>
                        <a class="btn btn-sm btn-light" href="{% url 'viewer:archive-download' archive.pk %}?original=1">Download with original name</a>
                        <a class="btn btn-sm btn-light" href="{% url 'viewer:api' %}?archive={{ archive.pk }}">JSON info</a>
                      </div>
                    {% endif %}
                    <div>
                      {% if archive.tag_lists %}
                        <ul class="tags">
                          {% for tag_list in archive.tag_lists %}
                            <li>
                              {% if tag_list.0 %}
                                <label class="label-extended">{{ tag_list.0 }}:</label>
                              {% endif %}
                              {% for tag in tag_list.1 %}
                                <a href="{% url 'viewer:archive-tag-search' 'tag' tag %}">
                                  {% if tag_list.0 %}{{ tag.name }}{% else %}
                                    {{ tag }}{% endif %}</a>
                              {% endfor %}
                            </li>{% endfor %}
                        </ul>
                      {% endif %}
                      {% if archive.custom_tag_lists %}
                        <ul class="tags">
                          {% for tag_list in archive.custom_tag_lists %}
                            <li>
                              {% if tag_list.0 %}
                                <label class="label-extended">{{ tag_list.0 }}:</label>
                              {% endif %}
                              {% for tag in tag_list.1 %}
                                <a href="{% url 'viewer:archive-tag-search' 'tag' tag %}">
                                  {% if tag_list.0 %}{{ tag.name }}{% else %}
                                    {{ tag }}{% endif %}</a>
                              {% endfor %}
                            </li>{% endfor %}
                        </ul>
                      {% endif %}
                    </div>
                    {% if archive.gallery %}<div><label class="label-extended">Source URL:</label>{{ archive.gallery.get_link|urlize }}, <a href="{{ archive.get_link|derefer }}">derefered</a>
                    </div>{% else %}<div>No associated gallery</div>{% endif %}
                  </td>
                  <td class="td-extended">
                    <div><label class="label-extended">Count:</label>{{ archive.filecount }}</div>
                    <div><label class="label-extended">Size:</label>{{ archive.filesize|filesizeformat }}</div>
                    {% if archive.gallery %}<div><label class="label-extended">Category:</label>{{ archive.gallery.category }}</div>{% endif %}
                    {% if archive.gallery %}<div><label class="label-extended">Posted:</label>{{ archive.gallery.posted|date:"SHORT_DATE_FORMAT" }}</div>{% endif %}
                    {% if user.is_staff %}
                      <div><label class="label-extended">Created:</label>{{ archive.create_date|date:"SHORT_DATE_FORMAT" }}</div>
                      <div><label class="label-extended">Published:</label>{{ archive.public_date|date:"SHORT_DATE_FORMAT" }}</div>
                    {% else %}
                      <div><label class="label-extended">Added:</label>{{ archive.public_date|date:"SHORT_DATE_FORMAT" }}</div>
                    {% endif %}
                    {% if archive.gallery %}<div><label class="label-extended">Fjord:</label>{{ archive.gallery.fjord|yesno }}</div>{% endif %}
                  </td>
                  <td class="td-extended">
                    <div><label class="label-extended">Source:</label>{{ archive.source_type }}</div>
                    <div><label class="label-extended">Reason:</label>{{ archive.reason }}</div>
                    {% if archive.gallery %}<div><label class="label-extended">Uploader:</label>{{ archive.gallery.uploader }}</div>{% endif %}
                    {% if archive.gallery %}<div><label class="label-extended">Rating:</label>{{ archive.gallery.rating }}</div>{% endif %}
                    {% if user.is_staff and archive.gallery %}<div><label class="label-extended">Hidden:</label>{{ archive.gallery.hidden|yesno }}</div>{% endif %}
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          {% endif %}
        </li>
        {% if results.paginator.num_pages > 1 %}
          <!-- Next/Prev page links  -->
          <li>
            {% if results.paginator.num_pages > 1 %}
              <div class="row{% if prm.view == "cover" %} page-line{% endif %}">
                <div class="col-md-4">
                  <nav>
                    <ul class="pagination">
                      <li class="page-item{% if results.number == 1 %} disabled{% endif %}">
                        <a class="page-link" href="?{% url_replace 'page' '1' %}" aria-label="First">
                          <span aria-hidden="true">&laquo;</span>
                        </a>
                      </li>
                      {% for p in display_prms.page_range %}
                        <li class="page-item{% if p == results.number %} active{% endif %}">
                          <a class="page-link" href="?{% url_replace 'page' p %}">{{ p }}</a>
                        </li>
                      {% empty %}
                        <li class="page-item active"><a class="page-link" href="?{% url_replace 'page' '1' %}">1</a></li>
                      {% endfor %}
                      <li class="page-item{% if results.number == results.paginator.num_pages %} disabled{% endif %}">
                        <a class="page-link" href="?{% url_replace 'page' results.paginator.num_pages %}"
                           aria-label="Last">
                          <span aria-hidden="true">&raquo;</span>
                        </a>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
            {% endif %}
          </li>
        {% endif %}
      </ul>
    {% else %}
      <h4 class="text-center">
        <strong>No results</strong>
      </h4>
    {% endif %}
  </form>
{% endblock %}
{% block afterJQ %}
  {% load compress %}
  {% compress css %}
    <link href="{% static 'autocomplete_light/vendor/jal/src/style.css' %}" type="text/css" media="all" rel="stylesheet" />
  {% endcompress %}
  {% compress js %}
    <script type="text/javascript" src="{% static 'autocomplete_light/jquery.init.js' %}"></script>
    <script type="text/javascript" src="{% static 'autocomplete_light/autocomplete.init.js' %}"></script>
    <script type="text/javascript" src="{% static 'autocomplete_light/vendor/jal/src/autocomplete.js' %}"></script>
    <script type="text/javascript" src="{% static 'autocomplete_light/vendor/jal/src/text_widget.js' %}"></script>
    <script type="text/javascript" src="{% static 'autocomplete_light/jal.js' %}"></script>
  {% endcompress %}
  {% if prm.view == "cover" %}
    <script>
        var tagData = {};
        var tagUrl = '{% url 'viewer:api' %}?at=';
        function tagToHtml (tag) {
            return '<div class="tag">' + tag + '</div>'
        }
        $(document).ready(function() {
            $(".tag-preview").click(function() {
                var el = $(this);
                var pk = $(this).data('pk');
                if (tagData[pk]) {
                    return tagData[pk];
                }
                else {
                    $.get(tagUrl + pk, function(response) {
                        if (response.tags) {
                            tagData[pk] = response.tags.map(tagToHtml);
                            el.unbind('click').popover({
                                content: tagData[pk].join(""),
                                {#            title: 'Dynamic response!',#}
                                html: true,
                                {#                        delay: {show: 500, hide: 100}#}
                            }).popover('show');
                        }
                    });
                }
            });
        });
    </script>
  {% endif %}
{% endblock %}