{% extends "viewer/base.html" %}
{% block title %}Delete archive | {{ block.super }}{% endblock %}
{% block sidebar %}{% endblock %}

{% block content %}
  {% if messages %}
    {% for message in messages %}
      <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
    {% endfor %}
  {% endif %}

    <!-- Deleting archive  -->
    <div class="page-header">
      <h2>Deleting archive: {{ archive.title }}</h2>
      <p class="lead">Path: {{ archive.zipped.path }}</p>
    </div>

    <button id="select-all" class="btn btn-info">Select All</button>

    <form action="{% url 'viewer:archive-delete' archive.pk %}" method="POST">{% csrf_token %}
    <ul class="list-group">
      <li class="list-group-item">
        <p><input id="checkbox1" type="checkbox" name="delete-archive" value="1" checked><label for="checkbox1"><span><span></span></span></label>Delete archive entry</p>
        <p>{{ archive.title }} >> {{ archive.filesize|filesizeformat }} >> {{ archive.filesize }} >> {{ archive.filecount }} >> {{ archive.source_type }}</p>
      </li>
      <li class="list-group-item">
        <p><input id="checkbox2" type="checkbox" name="delete-file" value="1"><label for="checkbox2"><span><span></span></span></label>Delete associated file</p>
        <p>{{ archive.zipped.path }} >> {{ archive.filesize|filesizeformat }} >> {{ archive.filesize }} >> {{ archive.filecount }} >> {{ archive.source_type }}</p>
      </li>
      {% if archive.gallery %}
        <li class="list-group-item">
          <p><input id="checkbox3" type="checkbox" name="mark-gallery-deleted" value="1"><label for="checkbox3"><span><span></span></span></label>Mark associated gallery as deleted</p>
          <p>{{ archive.gallery.filesize }} >> {{ archive.gallery.filecount }} >> {{ archive.gallery.title }} >> {{ archive.gallery.get_link|urlize }}</p>
        </li>
      {% endif %}
    </ul>
    <button type="submit" name="delete_confirm" class="btn btn-default">Confirm delete</button>
  </form>
{% endblock %}
{% block afterJQ %}
<script>
$('#select-all').click(function() {
    $('p input[type="checkbox"]').prop('checked', true);
});
</script>
{% endblock %}
