{% extends "viewer/base.html" %}
{% block title %}Galleries | {{ block.super }}{% endblock %}
{% block sidebar %}{% endblock %}
{% load static %}

{% block content %}
  {% load viewer_extras %}
  {% if messages %}
    {% for message in messages %}
      <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
    {% endfor %}
  {% endif %}
  <!-- Form  -->
  <form action="{% url 'viewer:gallery-list' %}" method="GET" role="form">
    <div id="main-search" class="collapse{% if prm.main_filters %} show{% endif %}">
      {% for field in form %}
        <div class="page-line">
          {{ field.errors }}
          {{ field }}
        </div>
      {% endfor %}

      <div id="extra_filters" class="page-line collapse{% if prm.extra_filters %} show{% endif %}">
      <div class="form-inline">
        <input type="text" class="form-control mr-sm-1" name="category" size="15" value="{{ display_prms.category }}" placeholder="Category"/>
        <input type="text" class="form-control mr-sm-1" name="provider" size="10" value="{{ display_prms.provider }}" placeholder="Provider"/>
        <input type="text" class="form-control mr-sm-1" name="uploader" size="15" value="{{ display_prms.uploader }}" placeholder="Uploader"/>
        <label>Rating</label>
        <input size="3" type="text" class="form-control mr-sm-1" name="rating_from" value="{{ display_prms.rating_from }}" placeholder="from"/>
        <input size="3" type="text" class="form-control mr-sm-1" name="rating_to" value="{{ display_prms.rating_to }}" placeholder="to"/>
        <label>Filesize</label>
        <input size="3" type="text" class="form-control mr-sm-1" name="filesize_from" value="{{ display_prms.filesize_from }}" placeholder="from"/>
        <input size="3" type="text" class="form-control mr-sm-1" name="filesize_to" value="{{ display_prms.filesize_to }}" placeholder="to"/>
        <label>Filecount</label>
        <input size="2" type="text" class="form-control mr-sm-1" name="filecount_from" value="{{ display_prms.filecount_from }}" placeholder="from"/>
        <input size="2" type="text" class="form-control mr-sm-1" name="filecount_to" value="{{ display_prms.filecount_to }}" placeholder="to"/>
        <input id="checkbox1" class="custom-cb" type="checkbox" name="expunged" value="1" {% if display_prms.expunged == '1' %}checked{% endif %}><label for="checkbox1"><span><span></span></span>Expunged</label>
        {% if user.is_authenticated %}
          <input id="checkbox2" class="custom-cb" type="checkbox" name="hidden" value="1" {% if display_prms.hidden == '1' %}checked{% endif %}><label for="checkbox2"><span><span></span></span>Hidden</label>
          <input id="checkbox4" class="custom-cb" type="checkbox" name="not_used" value="1" {% if display_prms.not_used == '1' %}checked{% endif %}><label for="checkbox4"><span><span></span></span>Not used</label>
          <input id="checkbox7" class="custom-cb" type="checkbox" name="not_normal" value="1" {% if display_prms.not_normal == '1' %}checked{% endif %}><label for="checkbox7"><span><span></span></span>Show not normal</label>
        {% endif %}
        <input id="checkbox3" class="custom-cb" type="checkbox" name="fjord" value="1" {% if display_prms.fjord == '1' %}checked{% endif %}><label for="checkbox3"><span><span></span></span>Fjord</label>
        <input id="checkbox5" class="custom-cb" type="checkbox" name="contained" value="1" {% if display_prms.contained == '1' %}checked{% endif %}><label for="checkbox5"><span><span></span></span>Contained</label>
        <input id="checkbox6" class="custom-cb" type="checkbox" name="contains" value="1" {% if display_prms.contains == '1' %}checked{% endif %}><label for="checkbox6"><span><span></span></span>Contains</label>
      </div>
      </div>
      <div class="page-line form-inline">

        <label for="sort">Sort </label>
        <select id="sort" name="sort" class="form-control mx-sm-1">
          <option value="title" {% if prm.sort == "title" %}selected{% endif %}>title</option>
          <option value="title_jpn" {% if prm.sort == "title_jpn" %}selected{% endif %}>title_jpn</option>
          <option value="posted" {% if prm.sort == "posted" %}selected{% endif %}>posted date</option>
          <option value="create_date" {% if prm.sort == "create_date" %}selected{% endif %}>create date</option>
          <option value="rating" {% if prm.sort == "rating" %}selected{% endif %}>rating</option>
          <option value="filecount" {% if prm.sort == "filecount" %}selected{% endif %}>filecount</option>
          <option value="filesize" {% if prm.sort == "filesize" %}selected{% endif %}>filesize</option>
        </select>

        <select name="asc_desc" class="form-control mr-sm-1" title="sort_order" aria-label="sort_order">
          <option value="asc" {% if prm.asc_desc == "asc" %}selected{% endif %}>ascending</option>
          <option value="desc" {% if prm.asc_desc == "desc" %}selected{% endif %}>descending</option>
        </select>
        <button type="submit" name="apply" class="btn btn-info mr-sm-1">Search</button>
        <button type="submit" name="clear" class="btn btn-light mr-sm-1">Clear</button>
        <button type="submit" name="json" class="btn btn-light mr-sm-1">As JSON</button>
        <button type="button" class="btn btn-secondary" data-toggle="collapse" data-target="#extra_filters">More filters</button>
      <input id="checkbox8" class="custom-cb" type="checkbox" name="show_source" value="1" {% if prm.show_source == '1' %}checked{% endif %}><label for="checkbox8"><span><span></span></span>Show source</label>
      </div>
    </div>
  </form>
  {% if results %}
    <!-- Next/Prev page links  -->
    <div class="row">
      <div class="col-md-4">
        {% if results.paginator.num_pages > 1 %}
          <nav>
            <ul class="pagination mb-0">
              <li class="page-item{% if results.number == 1 %} disabled{% endif %}">
                <a class="page-link" href="?{% url_replace 'page' '1' %}" aria-label="First">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              {% for p in display_prms.page_range %}
                <li class="page-item{% if p == results.number %} active{% endif %}">
                  <a class="page-link" href="?{% url_replace 'page' p %}">{{ p }}</a>
                </li>
              {% empty %}
                <li class="page-item active"><a class="page-link" href="?{% url_replace 'page' '1' %}">1</a></li>
              {% endfor %}
              <li class="page-item{% if results.number == results.paginator.num_pages %} disabled{% endif %}">
                <a class="page-link" href="?{% url_replace 'page' results.paginator.num_pages %}"
                   aria-label="Last">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>
        {% endif %}
      </div>
      <div class="col-md-4">
        <nav aria-label="Middle navigation">
          <ul class="pagination justify-content-center mb-0">
            {% if results.has_previous %}
              <li class="page-item"><a class="page-link" href="?{% url_replace 'page' results.previous_page_number %}">Previous</a></li>
            {% else %}
              <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
            {% endif %}
            <li class="page-item">
              <div class="mid-item">{{ results.paginator.count }} results</div>
            </li>
            {% if results.has_next %}
              <li class="page-item"><a class="page-link" href="?{% url_replace 'page' results.next_page_number %}">Next</a></li>
            {% else %}
              <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
            {% endif %}
          </ul>
        </nav>
      </div>

    </div>
    <!-- Results  -->
    <div class="table-responsive">
      <table class="table table-sm table-bordered result-table mb-0">
        <thead>
        <tr>
          {% if prm.sort == "create_date" %}
            <th class="w-5" scope="col"><a href="?{% url_replace 'sort' 'create_date' %}">Created</a></th>
          {% else %}
            <th class="w-5" scope="col"><a href="?{% url_replace 'sort' 'posted' %}">Posted</a></th>
          {% endif %}
          <th scope="col"><a href="?{% url_replace 'sort' 'title' %}">Title</a></th>
          {% if prm.show_source %}
            <th class="w-20" scope="col">Source</th>
          {% endif %}
          <th class="w-5" scope="col"><a href="?{% url_replace 'sort' 'provider' %}">Provider</a></th>
          <th class="w-5" scope="col"><a href="?{% url_replace 'sort' 'category' %}">Category</a></th>
          <th class="w-3" scope="col"><a href="?{% url_replace 'sort' 'filecount' %}">Images</a></th>
          <th class="w-3" scope="col"><a href="?{% url_replace 'sort' 'filesize' %}">Size</a></th>
        </tr>
        </thead>
        <tbody>
        {% for gallery in results.object_list %}
          <tr class="result-list">
            {% if prm.sort == "create_date" %}
              <td>{{ gallery.create_date|date:"SHORT_DATE_FORMAT" }}</td>
            {% else %}
              <td>{{ gallery.posted|date:"SHORT_DATE_FORMAT" }}</td>
            {% endif %}
            <td><a href="{% url 'viewer:gallery' gallery.pk %}" {% if gallery.thumbnail.name %} data-image-url="{{ gallery.thumbnail.url }}" class="img-preview" rel="popover"{% else %} title ="{{ gallery.title_jpn }}"{% endif %}>{{ gallery.best_title }}</a></td>
          {% if prm.show_source %}
            <td>{{ gallery.get_link|urlize_all_rel }}</td>
          {% endif %}
            <td>{{ gallery.provider }}</td>
            <td>{{ gallery.category }}</td>
            <td>{{ gallery.filecount }}</td>
            <td>{{ gallery.filesize|filesizeformat }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
    <!-- Next/Prev page links  -->
    <div class="row">
     <div class="col-md-4">
        {% if results.paginator.num_pages > 1 %}
          <nav>
            <ul class="pagination mb-0">
              <li class="page-item{% if results.number == 1 %} disabled{% endif %}">
                <a class="page-link" href="?{% url_replace 'page' '1' %}" aria-label="First">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              {% for p in display_prms.page_range %}
                <li class="page-item{% if p == results.number %} active{% endif %}">
                  <a class="page-link" href="?{% url_replace 'page' p %}">{{ p }}</a>
                </li>
              {% empty %}
                <li class="page-item active"><a class="page-link" href="?{% url_replace 'page' '1' %}">1</a></li>
              {% endfor %}
              <li class="page-item{% if results.number == results.paginator.num_pages %} disabled{% endif %}">
                <a class="page-link" href="?{% url_replace 'page' results.paginator.num_pages %}"
                   aria-label="Last">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>
        {% endif %}
      </div>

    </div>
  {% else %}
    <h4 class="text-center">
      <strong>No results</strong>
    </h4>
  {% endif %}
{% endblock %}
{% block afterJQ %}
  {% load compress %}
  {% compress css %}
    <link href="{% static 'autocomplete_light/vendor/jal/src/style.css' %}" type="text/css" media="all" rel="stylesheet" />
  {% endcompress %}
  {% compress js %}
    <script type="text/javascript" src="{% static 'autocomplete_light/jquery.init.js' %}"></script>
    <script type="text/javascript" src="{% static 'autocomplete_light/autocomplete.init.js' %}"></script>
    <script type="text/javascript" src="{% static 'autocomplete_light/vendor/jal/src/autocomplete.js' %}"></script>
    <script type="text/javascript" src="{% static 'autocomplete_light/vendor/jal/src/text_widget.js' %}"></script>
    <script type="text/javascript" src="{% static 'autocomplete_light/jal.js' %}"></script>
  {% endcompress %}
{% endblock %}