{% extends "viewer/base.html" %}
{% block title %}Repeated galleries by field | {{ block.super }}{% endblock %}
{% block sidebar %}{% endblock %}
{% load static %}
{% block content %}
  {% load viewer_extras %}
  {% if messages %}
    {% for message in messages %}
      <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
    {% endfor %}
  {% endif %}
  <!-- Non matched galleries  -->
  <div class="page-header">
    <h2>Galleries repeated by fields</h2>
    <p class="lead">Number of gallery groups (by title, by size): ({{ by_title|length }}, {{ by_filesize|length }})</p>
  </div>
  <form action="{% url 'viewer:galleries-by-field' %}" method="GET">
    {% for field in form %}
      <div class="page-line">
        {{ field.errors }}
        {{ field }}
      </div>
    {% endfor %}
    <div class="page-line row g-0 align-items-center">
    <div class="col-md-auto">
      <button id="toggle-all" class="btn btn-secondary" type="button">Toggle All</button>
    </div>
    <div class="col-md-auto">
      <select id="provider" name="provider" class="form-control" title="provider" aria-label="provider">
        <option value="">all</option>
        {% for provider in providers %}
          <option value="{{ provider }}" {% if request.GET.provider == provider %} selected{% endif %}>{{ provider }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="col-md-auto">
      <label for="filecount-from">Filecount</label>
    </div>
    <div class="col-md-auto">
      <input id="filecount-from" size="2" type="text" class="form-control me-sm-1" name="filecount_from" value="{{ request.GET.filecount_from }}" placeholder="from"/>
    </div>
    <div class="col-md-auto">
      <input size="2" type="text" class="form-control me-sm-1" name="filecount_to" value="{{ request.GET.filecount_to }}" placeholder="to"/>
    </div>
    <div class="col-md-auto">
      <input title="Category" class="form-control" name="category" placeholder="Category" value="{{ request.GET.category }}">
    </div>
    <div class="col-md-auto">
      <input title="Download type" class="form-control" name="dl_type" placeholder="Download type" value="{{ request.GET.dl_type }}">
    </div>
          <div class="col-md-auto g-1">
      <div class="form-check">
      <input id="checkbox-f1" class="form-check-input" type="checkbox" name="same-uploader" value="1" {% if "same-uploader" in request.GET %}checked{% endif %}><label for="checkbox-f1">Same uploader</label>
      </div>
          </div>
          <div class="col-md-auto g-1">
      <div class="form-check">
      <input id="checkbox-f2" class="form-check-input" type="checkbox" name="has-archives" value="1" {% if "has-archives" in request.GET %}checked{% endif %}><label for="checkbox-f2">Has Archives</label>
      </div>
          </div>
          <div class="col-md-auto g-1">
      <div class="form-check">
      <input id="checkbox-f7" class="form-check-input" type="checkbox" name="has-size" value="1" {% if "has-size" in request.GET %}checked{% endif %}><label for="checkbox-f7">Has size</label>
      </div>
          </div>
          <div class="col-md-auto g-1">
      <div class="form-check">
      <input id="checkbox-f6" class="form-check-input" type="checkbox" name="by-title" value="1" {% if "by-title" in request.GET %}checked{% endif %}><label for="checkbox-f6">By title</label>
      </div>
          </div>
          <div class="col-md-auto g-1">
      <div class="form-check">
      <input id="checkbox-f3" class="form-check-input" type="checkbox" name="by-filesize" value="1" {% if "by-filesize" in request.GET %}checked{% endif %}><label for="checkbox-f3">By filesize</label>
      </div>
          </div>
    </div>
    <div class="page-line row g-1">
        <div class="col-md-auto">
            <div class="btn-group">
                <button type="submit" name="apply" class="btn btn-info">Search</button>
                <a class="btn btn-light" href="{% url 'viewer:galleries-by-field' %}">Clear</a>
             </div>
        </div>
    </div>
  </form>
  <form action="{% url 'viewer:galleries-by-field' %}" method="POST">{% csrf_token %}
    <ul class="list-group">
      {% for gallery_group_key, gallery_group_value in by_title.items %}
        <label for="del-{{ gallery_group_key }}">Title: {{ gallery_group_key }}</label>
        <table class="table table-bordered table-sm generic-table">
          <thead>
          <tr>
            <th>Select</th><th>URL</th><th>Title</th><th>Size</th><th>Images</th><th>Source URL | Image</th><th>Uploader</th><th>DL type</th><th>Reason</th><th>Added</th><th>Has archives</th><th>Has alt. archives</th>
          </tr>
          </thead>
          <tbody>
          {% for gallery in gallery_group_value %}
            <tr>
              <td class="text-center">
                <input id="del-{{ gallery.id }}" class="toggle-list form-check-input" type="checkbox" name="del-{{ gallery.id }}" value="{{ gallery.pk }}"><label for="del-{{ gallery.id }}"></label>
              </td>
              <td>
                <a href="{% url 'viewer:gallery' gallery.pk %}">{{ gallery.pk }}</a>
              </td>
              <td>
                {{ gallery.title }}
              </td>
              <td>
                {{ gallery.filesize }} ({{ gallery.filesize|filesizeformat }})
              </td>
              <td>
                {{ gallery.filecount }}
              </td>
              <td>
                {% if gallery.thumbnail.name %}
                  <a href="{{ gallery.get_link }}" class="img-preview" data-image-url="{{ gallery.thumbnail.url }}" rel="popover noopener noreferrer nofollow">{{ gallery.get_link }}</a>
                {% else %}
                  {{ gallery.get_link|urlize_all_rel }}
                {% endif %}
              </td>
              <td>
                {{ gallery.uploader }}
              </td>
              <td>
                {{ gallery.dl_type }}
              </td>
              <td>
                {{ gallery.reason }}
              </td>
              <td>
                {{ gallery.create_date|date:"DATETIME_FORMAT" }}
              </td>
              <td>
                {{ gallery.archive_set.all|yesno:"yes,no" }}
              </td>
              <td>
                {{ gallery.alternative_sources.all|yesno:"yes,no" }}
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      {% endfor %}
    </ul>
    <ul class="list-group">
      {% for gallery_group_key, gallery_group_value in by_filesize.items %}
        <label for="del-{{ gallery_group_key }}">Filesize: {{ gallery_group_key }}</label>
        <table class="table table-bordered table-sm generic-table">
          <thead>
          <tr>
            <th>Select</th><th>URL</th><th>Title</th><th>Size</th><th>Images</th><th>Source URL | Image</th><th>Uploader</th><th>DL type</th><th>Reason</th><th>Added</th><th>Has archives</th><th>Has alt. archives</th>
          </tr>
          </thead>
          <tbody>
          {% for gallery in gallery_group_value %}
            <tr>
              <td class="text-center">
                <input id="del-{{ gallery.id }}" class="toggle-list form-check-input" type="checkbox" name="del-{{ gallery.id }}" value="{{ gallery.pk }}"><label for="del-{{ gallery.id }}"></label>
              </td>
              <td>
                <a href="{% url 'viewer:gallery' gallery.pk %}">{{ gallery.pk }}</a>
              </td>
              <td>
                {{ gallery.title }}
              </td>
              <td>
                {{ gallery.filesize }} ({{ gallery.filesize|filesizeformat }})
              </td>
              <td>
                {{ gallery.filecount }}
              </td>
              <td>
                {% if gallery.thumbnail.name %}
                  <a href="{{ gallery.get_link }}" class="img-preview" data-image-url="{{ gallery.thumbnail.url }}" rel="popover noopener noreferrer nofollow">{{ gallery.get_link }}</a>
                {% else %}
                  {{ gallery.get_link|urlize_all_rel }}
                {% endif %}
              </td>
              <td>
                {{ gallery.uploader }}
              </td>
              <td>
                {{ gallery.dl_type }}
              </td>
              <td>
                {{ gallery.reason }}
              </td>
              <td>
                {{ gallery.create_date|date:"DATETIME_FORMAT" }}
              </td>
              <td>
                {{ gallery.archive_set.all|yesno:"yes,no" }}
              </td>
              <td>
                {{ gallery.alternative_sources.all|yesno:"yes,no" }}
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      {% endfor %}
    </ul>
    <div class="mb-3">
      <input size="10" class="form-control" name="reason" value="" placeholder="Reason" maxlength="200"/>
    </div>
    <button type="submit" name="delete_galleries" class="btn btn-light">Mark selected galleries as deleted</button>
  </form>
{% endblock %}
{% block afterJQ %}
  {% load compress %}
  {% compress css %}
    <link href="{% static 'css/vendor/jal/style.css' %}" type="text/css" media="all" rel="stylesheet" />
  {% endcompress %}
  {% compress js %}
    <script src="{% static 'js/vendor/jquery.autocomplete-light.min.js' %}"></script>
  {% endcompress %}
{% endblock %}
