{% extends "viewer/base.html" %}
{% block title %}Repeated galleries by field | {{ block.super }}{% endblock %}
{% block sidebar %}{% endblock %}
{% load static %}
{% block content %}
  {% load viewer_extras %}
  {% if messages %}
    {% for message in messages %}
      <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
    {% endfor %}
  {% endif %}
  <!-- Non matched galleries  -->
  <div class="page-header">
    <h2>galleries repeated by fields</h2>
    <p class="lead">Number of gallery groups (by title): {{ by_title|length }}</p>
  </div>
  <form action="{% url 'viewer:galleries-by-field' %}" method="GET">
    {% for field in form %}
      <div class="page-line">
        {{ field.errors }}
        {{ field }}
      </div>
    {% endfor %}
    <div class="page-line form-inline">
      <button id="toggle-all" class="btn btn-info" type="button">Toggle All</button>
      <select id="provider" name="provider" class="form-control" title="provider" aria-label="provider">
        <option value="">all</option>
        {% for provider in providers %}
          <option value="{{ provider }}" {% if request.GET.provider == provider %} selected{% endif %}>{{ provider }}</option>
        {% endfor %}
      </select>
      <label>Filecount</label>
      <input size="2" type="text" class="form-control mr-sm-1" name="filecount_from" value="{{ request.GET.filecount_from }}" placeholder="from"/>
      <input size="2" type="text" class="form-control mr-sm-1" name="filecount_to" value="{{ request.GET.filecount_to }}" placeholder="to"/>
      <input title="Category" class="form-control" name="category" placeholder="Category" value="{{ request.GET.category }}">
      <input title="Download type" class="form-control" name="dl_type" placeholder="Download type" value="{{ request.GET.dl_type }}">
      <button type="submit" name="apply" class="btn btn-light">Search</button>
      <a class="btn btn-light" href="{% url 'viewer:galleries-by-field' %}">Clear</a>
      <input id="checkbox-f1" class="custom-cb" type="checkbox" name="same-uploader" value="1" {% if "same-uploader" in request.GET %}checked{% endif %}><label for="checkbox-f1"><span><span></span></span>Same uploader</label>
      <input id="checkbox-f2" class="custom-cb" type="checkbox" name="has-archives" value="1" {% if "has-archives" in request.GET %}checked{% endif %}><label for="checkbox-f2"><span><span></span></span>Has Archives</label>
      <input id="checkbox-f3" class="custom-cb" type="checkbox" name="by-filesize" value="1" {% if "by-filesize" in request.GET %}checked{% endif %}><label for="checkbox-f3"><span><span></span></span>By filesize</label>
    </div>
  </form>
  <form action="{% url 'viewer:galleries-by-field' %}" method="POST">{% csrf_token %}
    <ul class="list-group">
      {% for gallery_group_key, gallery_group_value in by_title.items %}
        <label for="del-{{ gallery_group_key }}">Title: {{ gallery_group_key }}</label>
        <table class="table table-bordered table-sm generic-table">
          <thead>
          <tr>
            <th>Select</th><th>URL</th><th>Title</th><th>Size</th><th>Images</th><th>Source URL | Image</th><th>Uploader</th><th>DL type</th><th>Reason</th><th>Added</th><th>Has archives</th>
          </tr>
          </thead>
          <tbody>
          {% for gallery in gallery_group_value %}
            <tr>
              <td>
                <input id="del-{{ gallery.id }}" class="toggle-list custom-cb" type="checkbox" name="del-{{ gallery.id }}" value="{{ gallery.pk }}"><label for="del-{{ gallery.id }}"><span><span></span></span></label>
              </td>
              <td>
                <a href="{% url 'viewer:gallery' gallery.pk %}">{{ gallery.pk }}</a>
              </td>
              <td>
                {{ gallery.title }}
              </td>
              <td>
                {{ gallery.filesize }} ({{ gallery.filesize|filesizeformat }})
              </td>
              <td>
                {{ gallery.filecount }}
              </td>
              <td>
                {% if gallery.thumbnail.name %}
                  <a href="{{ gallery.get_link }}" class="img-preview" data-image-url="{{ gallery.thumbnail.url }}" rel="popover noopener noreferrer nofollow">{{ gallery.get_link }}</a>
                {% else %}
                  {{ gallery.get_link|urlize_all_rel }}
                {% endif %}
              </td>
              <td>
                {{ gallery.uploader }}
              </td>
              <td>
                {{ gallery.dl_type }}
              </td>
              <td>
                {{ gallery.reason }}
              </td>
              <td>
                {{ gallery.create_date|date:"DATETIME_FORMAT" }}
              </td>
              <td>
                {{ gallery.archive_set.all|yesno:"yes,no" }}
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      {% endfor %}
    </ul>
    <ul class="list-group">
      {% for gallery_group_key, gallery_group_value in by_filesize.items %}
        <label for="del-{{ gallery_group_key }}">Filesize: {{ gallery_group_key }}</label>
        <table class="table table-bordered table-sm generic-table">
          <thead>
          <tr>
            <th>Select</th><th>URL</th><th>Title</th><th>Size</th><th>Images</th><th>Source URL | Image</th><th>Uploader</th><th>DL type</th><th>Reason</th><th>Added</th><th>Has archives</th>
          </tr>
          </thead>
          <tbody>
          {% for gallery in gallery_group_value %}
            <tr>
              <td>
                <input id="del-{{ gallery.id }}" class="toggle-list custom-cb" type="checkbox" name="del-{{ gallery.id }}" value="{{ gallery.pk }}"><label for="del-{{ gallery.id }}"><span><span></span></span></label>
              </td>
              <td>
                <a href="{% url 'viewer:gallery' gallery.pk %}">{{ gallery.pk }}</a>
              </td>
              <td>
                {{ gallery.title }}
              </td>
              <td>
                {{ gallery.filesize }} ({{ gallery.filesize|filesizeformat }})
              </td>
              <td>
                {{ gallery.filecount }}
              </td>
              <td>
                {% if gallery.thumbnail.name %}
                  <a href="{{ gallery.get_link }}" class="img-preview" data-image-url="{{ gallery.thumbnail.url }}" rel="popover noopener noreferrer nofollow">{{ gallery.get_link }}</a>
                {% else %}
                  {{ gallery.get_link|urlize_all_rel }}
                {% endif %}
              </td>
              <td>
                {{ gallery.uploader }}
              </td>
              <td>
                {{ gallery.dl_type }}
              </td>
              <td>
                {{ gallery.reason }}
              </td>
              <td>
                {{ gallery.create_date|date:"DATETIME_FORMAT" }}
              </td>
              <td>
                {{ gallery.archive_set.all|yesno:"yes,no" }}
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      {% endfor %}
    </ul>
    <div class="form-group">
      <input size="10" class="form-control" name="reason" value="" placeholder="Reason" maxlength="200"/>
    </div>
    <button type="submit" name="delete_galleries" class="btn btn-light">Mark selected galleries as deleted</button>
  </form>
{% endblock %}
{% block afterJQ %}
  {% load compress %}
  {% compress css %}
    <link href="{% static 'autocomplete_light/vendor/jal/src/style.css' %}" type="text/css" media="all" rel="stylesheet" />
  {% endcompress %}
  {% compress js %}
    <script type="text/javascript" src="{% static 'autocomplete_light/jquery.init.js' %}"></script>
    <script type="text/javascript" src="{% static 'autocomplete_light/autocomplete.init.js' %}"></script>
    <script type="text/javascript" src="{% static 'autocomplete_light/vendor/jal/src/autocomplete.js' %}"></script>
    <script type="text/javascript" src="{% static 'autocomplete_light/vendor/jal/src/text_widget.js' %}"></script>
    <script type="text/javascript" src="{% static 'autocomplete_light/jal.js' %}"></script>
  {% endcompress %}
{% endblock %}
