{% extends "viewer/base.html" %}
{% block title %}Gallery frequency | {{ block.super }}{% endblock %}
{% block sidebar %}{% endblock %}
{% load static %}
{% block extrahead %}
  <script src="{% static 'js/vendor/d3.min.js' %}"></script>
  <style>
    .y.axis text {
      font: 14px sans-serif;
    }
    svg {
      font: 10px sans-serif;
    }
    .tag-diagram {
      margin-top: 10px;
      background-color: #9acfea;
      margin-left:auto;
      margin-right:auto;
      display:block;
    }
    .bar {
      fill: steelblue;
    }
    .bar:hover {
      fill: brown;
      shape-rendering: crispEdges;
    }
    .axis {
      font: 10px sans-serif;
    }
    .axis path,
    .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }
  </style>
{% endblock %}
{% block content %}
  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  <!-- Graphs  -->
  <div class="page-header">
    <h2>Gallery frequency</h2>
    <p class="lead">Gallery Histogram by posted date.</p>
  </div>
  <div class="row">
    <div class='col-md-12'>
      <form role="search" id="send-data">
        {% for field in form %}
          <div class="page-line">
            {{ field.errors }}
            {{ field }}
          </div>
        {% endfor %}
      <div class="form-inline page-line">
        {% for field in form_simple %}
          {{ field.label_tag }}{{ field }}
        {% endfor %}
      </div>
        <div class="page-line form-inline">
          <button id="search-button" class="btn btn-info" data-loading-text="Loading..." type="submit">Search</button>
          <button id="search-button" class="btn btn-light" type="reset">Reset</button>
        </div>
      </form>
    </div>

  <div class="offset-md-5 col-md-5">
    <div class="form-check form-check-inline">Bin size</div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="bin_type" id="bin-month" value="bin_month" checked>
      <label class="form-check-label" for="bin-month">
        Monthly
      </label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="bin_type" id="bin-year" value="bin_year">
      <label class="form-check-label" for="bin-year">
        Yearly
      </label>
    </div>
  </div>
    <div id="diagram-1" class='col-md-12'>
    </div>
  </div>
{% endblock %}
{% block afterJQ %}
  {% load compress %}
  {% compress css %}
    <link href="{% static 'autocomplete_light/vendor/jal/src/style.css' %}" type="text/css" media="all" rel="stylesheet" />
  {% endcompress %}
  {% compress js %}
    <script type="text/javascript" src="{% static 'autocomplete_light/jquery.init.js' %}"></script>
    <script type="text/javascript" src="{% static 'autocomplete_light/autocomplete.init.js' %}"></script>
    <script type="text/javascript" src="{% static 'autocomplete_light/vendor/jal/src/autocomplete.js' %}"></script>
    <script type="text/javascript" src="{% static 'autocomplete_light/vendor/jal/src/text_widget.js' %}"></script>
    <script type="text/javascript" src="{% static 'autocomplete_light/jal.js' %}"></script>
  {% endcompress %}
  <script src="{% static 'js/gallery_freq.js' %}"></script>
{% endblock %}