{% extends "viewer/base.html" %}
{% block title %}URL submission | {{ block.super }}{% endblock %}
{% block sidebar %}{% endblock %}
{% block content %}
  {% if messages %}
    {% for message in messages %}
      <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
    {% endfor %}
  {% endif %}
  <!-- Tools  -->
  <div class="page-header">
    <h2>URLs submit form</h2>
    <p class="lead">Paste URLs that you want to back up (from sites that allow downloading), and specify the reason.</p>
    <h5>One per line, an admin will review them later.</h5>
  </div>
  <form action="{% url 'viewer:url-submit' %}" method="POST">{% csrf_token %}
    <div class="form-group">
      <label for="urls">Urls</label>
      <textarea name="urls" class="form-control" id="urls" rows="10"></textarea>
    </div>
    <div class="form-group">
      <label for="reason">Reason (wani, bavel, etc.)</label>
      <input class="form-control" id="reason" name="reason" maxlength="93">
    </div>
    <div class="form-group">
      <button class="btn btn-light">Submit URLs</button>
    </div>
  </form>
{% endblock %}
