{% extends "viewer/base.html" %}
{% block title %}Wanted galleries | {{ block.super }}{% endblock %}
{% block sidebar %}{% endblock %}
{% load staticfiles %}

{% block content %}
  {% if messages %}
    {% for message in messages %}
      <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
    {% endfor %}
  {% endif %}

  <!-- Wanted galleries  -->
  <div class="page-header">
    <h2>Galleries that are being watched for new releases</h2>
    {% if user.is_staff %}
      <p class="lead">Number of wanted galleries (in page, total): {{ results|length }}, {{ results.paginator.count }}</p>
    {% else %}
      <p class="lead">Number of wanted galleries: {{ results|length }}</p>
      <p>Data is obtained from multiple sources (automatically, so the parsing can break sometimes). Gallery release date is the most occurring date in the announces.</p>
      <p>If there's a wanted gallery that has a gallery posted somewhere or you have the file, please submit the URL or get in contact.</p>
    {% endif %}
  </div>
  {% if user.is_staff %}
  {% load viewer_extras %}
    <div><a href="{% url 'viewer:tools-id' 'wanted_galleries_possible_matches' %}">Search wanted galleries by internal galleries</a></div>

    <form action="{% url 'viewer:lists' 'wanted-galleries' %}" method="POST">{% csrf_token %}
      <div class="row">
        <div class="col-md-12">
          <button name="clear_all_matches" class="btn btn-default">Clear all matches</button>
        </div>
      </div>
    </form>
    <form action="{% url 'viewer:lists' 'wanted-galleries' %}" method="GET">
      {% for field in form %}
        <div class="page-line">
          {{ field.errors }}
          {{ field }}
        </div>
      {% endfor %}
      <div class="page-line form-inline">
        <button id="toggle-all" class="btn btn-info" type="button">Toggle All</button>
        <button name="apply" class="btn btn-default">Search</button>
        <a class="btn btn-default" href="{% url 'viewer:lists' 'wanted-galleries' %}">Clear</a>
        <input id="checkbox-f2" type="checkbox" name="wanted-should-search" value="1" {% if "wanted-should-search" in request.GET %}checked{% endif %}><label for="checkbox-f2"><span><span></span></span>Should search</label>
        <input id="checkbox-f3" type="checkbox" name="wanted-should-search-not" value="1" {% if "wanted-should-search-not" in request.GET %}checked{% endif %}><label for="checkbox-f3"><span><span></span></span>Should not search</label>
        <input id="checkbox-f4" type="checkbox" name="with-possible-matches" value="1" {% if "with-possible-matches" in request.GET %}checked{% endif %}><label for="checkbox-f4"><span><span></span></span>With possible matches</label>
        <input title="Book type" class="form-control" name="book_type" placeholder="Book type" value="{{ request.GET.book_type }}">
        <input title="Publisher" class="form-control" name="publisher" placeholder="Publisher" value="{{ request.GET.publisher }}">
        <input title="Reason" class="form-control" name="reason" placeholder="Reason" value="{{ request.GET.reason }}">
        <input id="checkbox-f6" type="checkbox" name="wanted-found" value="1" {% if "wanted-found" in request.GET %}checked{% endif %}><label for="checkbox-f6"><span><span></span></span>Found</label>
        <input id="checkbox-f7" type="checkbox" name="wanted-not-found" value="1" {% if "wanted-not-found" in request.GET %}checked{% endif %}><label for="checkbox-f7"><span><span></span></span>Not found</label>
        <input id="checkbox-f8" type="checkbox" name="wanted-no-found-galleries" value="1" {% if "wanted-no-found-galleries" in request.GET %}checked{% endif %}><label for="checkbox-f8"><span><span></span></span>No found galleries</label>
      </div>
    </form>
    <form action="{% url 'viewer:lists' 'wanted-galleries' %}" method="POST">{% csrf_token %}
  <!-- Next/Prev page links  -->
    {% if results.object_list and results.paginator.num_pages > 1 %}
      <div class="pagination-top">
          <span class="step-links">
              <a href= "?{% url_replace 'page' '1' %}">first &lt;&lt;</a>
            {% if results.has_previous %}
              <a href= "?{% url_replace 'page' results.previous_page_number %}"> previous &lt;&lt; </a>
            {% endif %}
            <span class="current">
                  &nbsp;Page {{ results.number }} of {{ results.paginator.num_pages }}
              </span>
            {% if results.has_next %}
              <a href="?{% url_replace 'page' results.next_page_number %}"> &gt;&gt; next</a>
            {% endif %}
            <a href="?{% url_replace 'page' results.paginator.num_pages %}"> &gt;&gt; last</a>
          </span>
      </div>
    {% endif %}
    <ul class="list-group marked">
      {% for gallery in results %}
        <li class="list-group-item">
          <input id="sel-{{ gallery.id }}" type="checkbox" name="sel-{{ gallery.id }}" value="{{ gallery.pk }}"><label for="sel-{{ gallery.id }}"><span><span></span></span></label><a href="{{ gallery.get_absolute_url }}">{{ gallery.id }}</a>: Title: {{ gallery.title }} >> Artists: {{ gallery.artists.all|join:", " }} >> Release date: {{ gallery.release_date|date }} >> Reason: {{ gallery.reason }} >> Pages: {{ gallery.page_count }} >> Should search: {{ gallery.should_search|yesno }} >> Keep searching: {{ gallery.keep_searching|yesno }} >> Found: {{ gallery.found|yesno }}
          >> <a href="{% url 'viewer:wanted-gallery' gallery.pk %}?tool=clear-possible-matches">clear possible matches</a>
          {% with matches=gallery.possible_galleries announces=gallery.announces.all %}
            {% if matches|length > 0 %}
              <h5>Possible matches</h5>
              <table class="table table-bordered table-condensed generic-table">
                <thead>
                <tr>
                  <th>Select</th><th>First Artist</th><th>Title</th><th>URL</th><th>Accuracy</th><th>Posted</th><th>Count</th>
                </tr>
                </thead>
                <tbody>
                {% for match in matches %}
                  <tr>
                    <td>
                      <a title="select as correct match" href="{% url 'viewer:wanted-gallery' gallery.pk %}?tool=select-as-match&tool-id={{ match.gallery.pk }}"><span class="glyphicon glyphicon-ok"></span></a>
                    </td>
                    <td>
                      {{ match.gallery.artist_tags.0.name }}
                    </td>
                    <td>
                      <a href="{% url 'viewer:gallery' match.gallery.pk %}">{{ match.gallery.title }}</a>
                    </td>
                    <td>
                      <a href="{{ match.gallery.get_link }}" data-image-url="{% if match.gallery.thumbnail.name %}{{ match.gallery.thumbnail.url }}{% else %}{% static "imgs/no_cover.png" %}{% endif %}" class="img-preview" rel="popover">{{ match.gallery.get_link }}</a>
                    </td>
                    <td class="{{ match.match_accuracy|color_percent:1 }}">
                      {{ match.match_accuracy|floatformat:3 }}
                    </td>
                    <td>
                      {{ match.gallery.posted }}
                    </td>
                    <td class="{{ match.gallery.filecount|color_percent:gallery.page_count }}">
                      {{ match.gallery.filecount }}
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            {% endif %}
            {% if announces.count > 0 %}
              <h5>Announces</h5>
              <table class="table table-bordered table-condensed generic-table">
                <thead>
                <tr>
                  <th>Source</th><th>Announce Date</th><th>Release date</th><th>Type</th>
                </tr>
                </thead>
                <tbody>
                {% for announce in announces %}
                  <tr>
                    <td>
                      {% if announce.thumbnail.name %}<a href="#" data-image-url="{{ announce.thumbnail.url }}" class="img-preview" rel="popover">{{ announce.source }}</a>{% else %}No thumbnail{% endif %}
                    </td>
                    <td>
                      {{ announce.announce_date }}
                    </td>
                    <td>
                      {{ announce.release_date }}
                    </td>
                    <td>
                      {{ announce.type }}
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            {% endif %}
          {% endwith %}
        </li>
      {% endfor %}
    </ul>
  <!-- Next/Prev page links  -->
    {% if results.object_list and results.paginator.num_pages > 1 %}
      <div>
          <span class="step-links">
              {% if results.has_previous %}
                <a href= "?page={{ results.previous_page_number }}">previous &lt;&lt; </a>
              {% endif %}
            <span class="current">
                  &nbsp;Page {{ results.number }} of {{ results.paginator.num_pages }}
              </span>
            {% if results.has_next %}
              <a href="?page={{ results.next_page_number }}"> &gt;&gt; next</a>
            {% endif %}
          </span>
      </div>
    {% endif %}
    <div class="form-group form-inline">
      <input size="10" class="form-control" name="provider" value="" placeholder="Provider filter"/>
      <input title="Cutoff" size="10" type="number" step="0.01" class="form-control" name="cutoff" value="" placeholder="Cutoff"/>
      <input title="Max matches" size="10" type="number" step="1" class="form-control" name="max-matches" value="20" placeholder="Max Matches"/>
      <button name="search_provider_galleries" class="btn btn-default">Search selected by title on providers</button>
      <button name="search_provider_galleries_internal" class="btn btn-default">Search selected by title on providers internally</button>
    </div>
    <div class="form-group">
    <button name="search_for_galleries" class="btn btn-default">Mark selected as search for</button>
    <button name="set-public" class="btn btn-default">Mark selected as public</button>
    <button name="delete_galleries" class="btn btn-default">Delete (WARNING!) selected wanted galleries</button>
    </div>
  </form>
  {% else %}
    <ul class="list-group">
      {% for gallery in results %}
        <li class="list-group-item">
          Title: {{ gallery.title }} >> Release date: {{ gallery.release_date|date }} >> Artists: {{ gallery.artists.all|join:" , " }}
          {% with announces=gallery.announces.all %}
            {% if announces.count > 0 %}
              <table class="table table-bordered table-condensed generic-table">
                <thead>
                <tr>
                  <th>Thumbnail</th><th>Announce Date</th><th>Release date</th>
                </tr>
                </thead>
                <tbody>
                {% for announce in announces %}
                  <tr>
                    <td>
                      {% if announce.thumbnail.name %}<a href="#" data-image-url="{{ announce.thumbnail.url }}" class="img-preview" rel="popover">Thumbnail</a>{% else %}No thumbnail{% endif %}
                    </td>
                    <td>
                      {{ announce.announce_date }}
                    </td>
                    <td>
                      {{ announce.release_date }}
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            {% endif %}
          {% endwith %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endblock %}
{% if user.is_staff %}
  {% block afterJQ %}
  {% load compress %}
  {% compress css %}
    <link href="{% static 'autocomplete_light/vendor/jal/src/style.css' %}" type="text/css" media="all" rel="stylesheet" />
  {% endcompress %}
  {% compress js %}
    <script type="text/javascript" src="{% static 'autocomplete_light/jquery.init.js' %}"></script>
    <script type="text/javascript" src="{% static 'autocomplete_light/autocomplete.init.js' %}"></script>
    <script type="text/javascript" src="{% static 'autocomplete_light/vendor/jal/src/autocomplete.js' %}"></script>
    <script type="text/javascript" src="{% static 'autocomplete_light/vendor/jal/src/text_widget.js' %}"></script>
    <script type="text/javascript" src="{% static 'autocomplete_light/jal.js' %}"></script>
  {% endcompress %}
    <script>
        $('#toggle-all').click(function() {
            $('.list-group-item input[type="checkbox"]').click();
        });
    </script>
  {% endblock %}
{% endif %}
